[2014-02-27 17:37] hinerm opened #21 "Ensure Fiji -> Switch to modern mode is functional"
Commit 15758c8f230f18bc4ca4931796c3e6ae2c9ddc1d intended to fix issues when switching to modern mode from Fiji, in that downstream discoverable plugins were not being made available to the class loader (for example, SCIFIO-BF-compat and SCIFIO-LifeSci, although uploaded to Fiji and present in the Fiji classpath, would not transfer to IJ2 when switching to modern mode).

The aforementioned commit s

[2014-02-28 14:19] dscho opened #22 "Merge updater's `Apply changes` and `Upload to server` into one"
People get constantly confused with that poor design choice: in the current architecture, one cannot have both `Upload` and `Update` changes at the same time (the rationale was that uploaders should be forced to test their stuff first). So let's disallow that, and consolidate the `Apply changes` and `Upload to server` buttons into one.

[2014-02-28 14:26] dscho opened #23 "Add a nice GUI for downgrading in the updater"
We have enough information in the `db.xml.gz` files to downgrade relatively reliably (with multiple update sites, we must trust the servers' time to be synchronized well enough).

To downgrade, we should not ask the user for a date, but rather have an overview of the files that changed, in a chronological order.

As a bonus, this view would give us also a very nice graphical representation of Fiji

[2014-02-28 17:29] hinerm opened #24 "Commands: duck type memoryReport"
We should have a framework in place so that commands can easily estimate the amount of ram they require.

The framework can then warn if there is insufficient memory to run a given command.

[2014-02-28 17:34] hinerm opened #25 "Create a TaskService"
We need a robust task service that can maintain metadata about running tasks. This will facilitate improved status reporting (e.g. by nesting progress bars, binning active tasks and providing time estimates at arbitrary granularities), which will be standardized by moving the responsibility to the framework instead of individual operations.

[2014-02-28 22:50] hadim opened #26 "Error building ImageJ"
I am not sure if I am on the right place to report this issue. If I am not, please redirect me.

So I am trying to build ImageJ from command line for the first time on latest Linux Mint 64bits following these instructions : http://developer.imagej.net/command-line

I got the following error (I didn't paste the full trace but if you need it, just ask):

[code]

Thank you

[2014-03-01 18:50] #26 closed, assigned to nobody

[2014-03-01 19:56] hadim opened #28 "IJ2 metadata format"
Hi,

Did you take a decision about http://trac.imagej.net/ticket/1708 ?

I don't think you want to use OME format as IJ2 standard because users not playing with microscopy data will be lost.

IJ1 standard metadata format is binary and so it's really hard to work with. I am a python dev so I process my images with python libs. It's really not easy (for example I can read but not write metadata...).

[2014-03-01 21:51] hadim opened #29 "About user image interaction in GUI"
Hi again,

I would like to propose you new ways to interact with image in IJ GUI. I will be prefectly ok if you don't think this kind of change is appropriate.

I guess the way user can interact to image come from the really IJ beginning. I found it pretty old and not confortable.

Let me describe what I am talking about : right now user need to enable zoom and pan each time he wants to zoom and p

[2014-03-01 22:01] dscho opened #30 "Tag and deploy current ij-legacy as beta-7.7.1 for use with fiji-compat"
I really would like to merge the recent work on fiji-compat (which relies on the new ij1-patcher/ij-legacy combo) and upload soon. For that purpose, I would like to keep a release binding, for which I would need to tag and release a special-purpose ij-legacy (I would make it depend on ij-*-beta-7.7) so I can use the new interfaces (e.g. LegacyEditor) therein.

@ctrueden @hinerm Objections?

[2014-03-02 21:26] #28 closed, assigned to nobody

[2014-03-03 04:00] #30 closed, assigned to nobody

[2014-03-03 15:40] dscho opened #31 "Add a new repository for manual testing"
The procedure described in our `RELEASES.md` for manual testing could use a repository to ease the process, as discussed [here](https://github.com/imagej/imagej/commit/5f37679cffe907383425d8208d488bc8d47e#commitcomment-5533774).

Maybe `imagej-manual-testing.git`?

[2014-03-03 20:04] ctrueden opened #32 "Support multiple monitors better"
As reported by @ehrenfeu:

We could fix this at the `ij-legacy` level by adding a patch to be smarter about using `GraphicsEnvironment` to show dialogs on the expected screen in more cases.

[2014-03-03 20:28] ctrueden opened #33 "MiniMaven: ignore excluded dependencies"
We have not used any `<exclusions>` blocks in our dependency declarations... until today. Now that we have need to exclude some transitive dependencies in this way (specifically: the `gov.nih.imagej:imagej` artifact from the `ome:bio-formats_plugins` dependency), it would be nice if MiniMaven respected such exclusions and did not copy excluded transitive dependencies into the `jars` or `plugins` f

[2014-03-03 20:45] ctrueden opened #34 "Display OME-XML and other metadata somehow"
We want to provide a mechanism for displaying OME-XML and other metadata in a dedicated window. However, we should first consider the best way of doing so without limiting the generality of our approach. SCIFIO supports multiple data models (extensibly). At the lower level, SCIFIO simply attaches the relevant metadata object to the resultant `SCIFIOCellImg` which gets returned by the `ImgOpener`.

[2014-03-03 21:21] hadim opened #35 "Python binding"
I would like to know if you have plan for a python binding?

Note that I don't mean python binding as a script language to be executed into java with Jython. I mean a binding to be able to use IJ and SCIFIO as a python library and so be able to integrate it into a much larger python projects which CPython and others sci python libs (numpy, scipy, pandas and so forth).

I know CellProfiler has deve

[2014-03-03 21:45] #35 closed, assigned to nobody

[2014-03-03 21:55] hadim opened #36 "Use grayscale as default color mode for multi-channel images"
In IJ2 the default color mode when a multi channel image is opened is Color while it's grayscale in IJ 1.x.

Is that a desired behaviour or a bug ?

PS: Note that I would prefer a grayscale mode by default, but that's only my opinion.

[2014-03-03 22:14] #21 closed, assigned to nobody

[2014-03-03 22:27] dscho opened #37 "Make output of `FilesCollection.getInstalledVersions()` more succinct"
When Fiji users submit a bug, the code asks the `FilesCollection` class to provide a list of the current versions. This is a bit wasteful, given that most of the files are up-to-date. So let's just list the active update sites, the timestamp of the most recently updated file, and all the files that are _not_ up-to-date, skipping the rest.

While at it, get rid of the funny hex lines that were only

[2014-03-04 08:39] hadim opened #38 "Maven fail to download artifact"
I got some weird trouble building imagej with `mvn`.

[code]

The weird thing is I have this problem at lab but not at home...running same OS (Linux).

[2014-03-04 16:02] #38 closed, assigned to nobody

[2014-03-04 16:36] hadim opened #40 "Error uploading large sample image file"
I have the following error uploading a large Tiff file (1.8Go) via Help>Upload sample image.

[code]

[code]

I set Edit>Options>Memory to 7000Mb.

[2014-03-05 08:46] #36 closed, assigned to nobody

[2014-03-05 18:23] ctrueden opened #41 "Remove obsolete dependencies when uploading complete site"
The updater should, when performing the `upload-complete-site` operation, remove all obsolete dependency declarations.

[2014-03-05 18:25] ctrueden opened #42 "Respect dependencies declared in the POM"
When uploading a JAR built with Maven (i.e., which has a POM in `META-INF/maven`), we should not only detect dependencies via bytecode scan, but also append any dependencies with runtime scope (and maybe compile scope) declared in the POM. This is important because sometimes a JAR will be a runtime dependency that is not directly referenced in bytecode, but is still necessary in some manner some d

[2014-03-05 22:23] dscho opened #43 "Updater: command-line updater does not pick up dependencies automatically"
When a new version of, say, `jars/a.jar` all of a sudden depends on `jars/b.jar`, that dependency is apparently not recorded when uploading `a.jar` and `b.jar` via the command-line updater.

[2014-03-05 22:25] dscho opened #44 "Updater: new files are not marked for update automatically"
When the updater detects a file on an update site it did not see before, it should be marked for update automatically.

[2014-03-06 01:55] dscho opened #45 "Fix dependencies when uploading files after switching off update sites"
The updater does not correctly reinstate the dependency/previous version information when the user switched off an update site.

This is related, but not identical to, https://github.com/fiji/fiji/issues/64

[2014-03-06 10:57] hadim opened #46 "ROI persistance mechanism"
About http://trac.imagej.net/ticket/536. I wonder to know wether you choose a strategy to store ROIs ?

Even if it could be important to have an independant mechanism (independant from image file), it would be very nice to be able to store ROIs in OME XML.

[2014-03-07 23:35] dscho opened #47 "Show more information in cmd-line updater's 'show' subcommand"
There are still some more information we should show, such as commit, SCM, javadoc URL, etc

[2014-03-10 14:37] hornm opened #48 "Parameters of operations used within a Command (parameter aggregation)"
If a command requires as an input parameter a certain operation (e.g. a ThresholdMethod), one actually does not want to care about the parameter assignment of this operation itself (e.g. another dialog could pop up as soon a certain operation-instance was selected).

[2014-03-11 07:54] ctrueden opened #49 "Support autofilling ImgPlus etc."
If an `@Parameter` is of type `ImgPlus` or `RandomAccessibleInterval` or `IterableInterval` or `Labeling` or `RegionOfInterest` (and possibly other similar ImgLib2 interfaces), it should be possible to fill them with an ImageJ `Data` object.

[2014-03-12 13:00] hinerm opened #50 "ImageJ info window pops up when canceling a dialog"
Whenever I cancel a dialog (e.g. `File>Save As`, `File>Open`..) via the cancel button or hitting escape, a dialog pops up telling me my ImageJ jar version + Java version.

It doesn't cause any problems, it's just confusing, as the first few times I assumed it was an error dialog.

[2014-03-12 20:21] hadim opened #51 "Saving metadata without whole image rewrite on hard drive"
Following https://github.com/scifio/scifio/issues/153.

Add a way to only save OME XML metadata on the first IFD instead rewriting all dataset. According to @ctrueden, Bio-Formats and SCIFIO already have this feature.

[2014-03-12 21:46] #50 closed, assigned to nobody

[2014-03-17 12:47] dscho opened #52 "Updater: Allow editing metadata of up-to-date files, for upload to the update site"
Sometimes, mistakes happen. Or descriptions need to be adjusted, even if the file itself was not changed. Let's allow that.

[2014-03-17 12:49] dscho opened #53 "Uploader GUI: do not ask to replace/adjust incorrect dependencies of files served from other update sites"

[2014-03-17 12:51] dscho opened #54 "Command-line updater: allow replacing/adjusting incorrect dependencies before upload"
Incorrect dependencies make the upload error out, without a chance to fix it. Convert the dependency checking into conflicts that can be resolved on the command-line just like in the GUI.

[2014-03-17 13:18] dscho opened #55 "Updater: special-case Fiji"
Under some unfortunate circumstances the `db.xml.gz` file ca get lost. In that case, all the update sites have to be readded.

Fiji -- the biggest user of the updater, and also its incubation chamber -- deserves to be special-cased: the updater should detect the presence of, say, `jars/fiji-compat[-<version>].jar` and activate the Fiji update site by default in that case.

Noticed by Ilan Tal, dia

[2014-03-18 12:26] dscho opened #56 "The sample image uploader does not preserve spaces in the file name"
Noticed by @justaguest.

[2014-03-18 12:32] #56 closed, assigned to nobody

[2014-03-19 13:10] #33 closed, assigned to dscho

[2014-03-20 22:48] hinerm opened #57 "Brightness/Contrast: default button is required but unset"
I get this error message whenever I open the B/C plugin now.. but the "Default" button still works. I'm assuming it's because there is no implementation for [Button](https://github.com/imagej/imagej/blob/master/core/core/src/main/java/imagej/widget/Button.java) to discover.. so maybe it just shouldn't be an `@Parameter`? Or maybe it should be a `ButtonWidget`?

Also why is there both a `Button` an

[2014-03-26 15:27] dscho opened #59 "Uploader: Allow easier recovery from stale WebDAV locks"
When uploading, first thing is that the `db.xml.gz` file is locked via WebDAV. However, if the computer crashes, or ImageJ, or the updater, before the upload completes, the lock is not removed.

To allow recovery, we should log the LOCK token and have a little interactive helper (probably in the `src/test/java/` part of `plugins/uploaders/webdav/`) to force-unlock.

This would have helped @iargand

[2014-03-27 18:59] ctrueden opened #60 "Dataset should be an ImgPlus"
The `Dataset` class is a special type of `Img` (actually, an `ImgPlus`). Ideally it would *be* an `ImgPlus` rather than just *having* one (inheritance, not just composition). The advantage would be that `Dataset`s could then be used directly as method arguments that operate on `Img`s and `ImgPlus`es. This would be particularly useful for ImageJ OPS.

[2014-04-01 21:15] #57 closed, assigned to nobody

[2014-04-04 19:21] ctrueden opened #61 "Allow returning error codes when running scripts headlessly"
When executing ImageJ scripts, plugins or macros headlessly, it would be nice if the process could give a non-zero return code in case of error. Currently, ImageJ1 does not do this.

Added by @luxigo:

[2014-05-01 10:25] ctrueden opened #62 "Combine Options into a single tabbed dialog"
Currently there are many Edit > Options plugin dialogs. It would be better to combine them into a single tabbed dialog.

Migrated-From: http://trac.imagej.net/ticket/366

[2014-05-01 11:00] ctrueden opened #63 "File>New>Plugin (Eclipse)"
From @dscho:

Eclipse seems to become more and more popular these days. So, to make things easier for developers, add a plugin that sets up an Eclipse project to develop an IJ2 plugin. This entails:
- a wizard-like user interface
- discovering/asking for the location of Eclipse (and remembering it via Preferences)
- setting up the directory structure
- activating the annotation processing (see [ti

[2014-05-01 11:07] ctrueden opened #64 "Add support for ij.plugins.path"
ImageJ 1.x has a plugins.dir system property that controls the directory from which plugins are discovered. In ImageJ2 we will expand this feature to support multiple directories via an ij.plugins.path property or similar.

As an added bonus, this will aid in mitigating certain Eclipse limitations with plugin discovery. We can do a brute force scan of any JAR files that are A) present in ij.plugin

[2014-05-01 11:12] ctrueden opened #65 "Compatibility with JIST"
Another technology to investigate is the [Java Image Science Toolkit](http://www.nitrc.org/projects/jist), used by [MIPAV](http://mipav.cit.nih.gov/) to provide automated GUI generation for application plug-ins, graphical layout tools, and command line interfaces. It would be very useful to share plugins between multiple systems such as ImageJ, MIPAV, [Vaa3D](http://www.vaa3d.org/), ITK/VTK and ot

[2014-05-01 20:08] ctrueden opened #66 "Publish ImageJ and friends to the Maven Central repository"
ImageJ and related artifacts should be available in the Central repository with every release starting with 2.0.0, if not before.

Once it is done, we should update [Stack Overflow question #12458688](http://stackoverflow.com/questions/12458688/are-imagej-maven-dependencies-in-maven-central).

Migrated-From: http://trac.imagej.net/ticket/1670

[2014-05-01 21:12] ctrueden opened #67 "Write up a public rationale for how and why we changed versioning to release-version coupling"
We have switched to a versioning scheme based on [SemVer](http://semver.org/), with release versioning coupling between components, each of which lives in its own Git repository.

Write up a blog post (and/or Wiki page and mail to the ''-devel'' lists) to provide a rationale why, and give others a chance to help us avert stupid changes in our workflow.

Migrated-From: http://trac.imagej.net/ticket

[2014-05-01 21:34] ctrueden opened #68 "Maven: JDepend analysis"
The [JDepend Maven plugin](http://mojo.codehaus.org/jdepend-maven-plugin/) uses [JDepend](http://clarkware.com/software/JDepend.html) to easily produce reports as part of site:site.

We should give this a try and see how useful it is.

Migrated-From: http://trac.imagej.net/ticket/175

[2014-05-01 22:02] ctrueden opened #69 "Throw a 2.0.0-final release party"
... and invite Barry

Migrated-From: http://trac.imagej.net/ticket/2031

[2014-05-01 22:10] ctrueden opened #70 "Have an example OpenSPIM image to open and display in ImageJ2"
To show-case the new and improved architecture of ImageJ2, we should use our own (large) OpenSPIM data to demonstrate that it does not be loaded into memory completely, but loading happens transparently.

Data:
- http://openspim.org/Raw_data
- http://openspim.org/downloads/OpenSPIM_Drosophila_11tp.ome.tiff.tar.gz

It might make sense to wait with showing it off until the SPIM Viewer is integrated

[2014-05-01 22:17] ctrueden opened #71 "Unify web sites"
There are multiple overlapping subdomains right now: mirror.imagej.net, developer.imagej.net, wiki.imagej.net. The goal is to unify them to all serve the same content from imagej.net with smart delegation: legacy URLs go to the mirror content, wiki pages load from the wiki, etc.

The front page of imagej.net will become a splash page, with links to ImageJ2, ImageJ1 and Fiji. (The current ImageJ1 f

[2014-05-01 22:20] ctrueden opened #72 "Create a Windows installer for ImageJ2/Fiji"
Right now, Fiji and ImageJ2 have the problem that if unpacked into the `Program Files` directory on Windows, the ImageJ Updater does not have full, unimpeded read/write access to its own directory. This is due to the Windows security model. It is in general very difficult to detect programmatically whether things will work; they might seem to work temporarily until the computer is rebooted, for ex

[2014-05-01 22:27] ctrueden opened #73 "Create screencast on developing ImageJ plugins in Eclipse"
We have a screencast on how to develop and debug ImageJ itself from within Eclipse, but a far more common scenario is to develop ImageJ plugins, without hacking on ImageJ itself. As things stand, people find the screencast on the former and believe it to be applicable to the latter, resulting in various confusion and problems. So let's make a screencast for that simpler, and far more common, scena

[2014-05-03 16:01] ctrueden opened #74 "Aggregate more javadoc"
Let's create a repository `imagej/imagej-javadoc` that has a POM whose sole job it is to aggregate all the javadoc we would like. Then we can update the [Jenkins job](http://jenkins.imagej.net/job/ImageJ-javadoc/) to use that repository when publishing the javadocs.

This will allow us to include any dependencies we wish, and without needing to use false compile scope (https://github.com/fiji/fiji

[2014-05-04 00:14] #59 closed, assigned to dscho

[2014-05-04 01:30] #74 closed, assigned to ctrueden

[2014-05-06 02:39] #64 closed, assigned to nobody

[2014-05-06 13:25] ctrueden opened #75 "Explore platform-specific desktop features"
It would be useful to tailor the ImageJ user interface to each platform according to commonly accepted design paradigms. For example, on Windows, support for an [MDI paradigm](http://en.wikipedia.org/wiki/Multiple_document_interface) in addition to ImageJ's usual [SDI](http://en.wikipedia.org/wiki/Single_document_interface), support for system tray icons, support for window docking, and on Mac OS

[2014-05-06 13:31] ctrueden opened #76 "Document manual testing procedure"
Each release there is some manual testing completed. Document what is typically done and put in the IJ2 document folder as "ReleaseTesting.txt".

Migrated-From: http://trac.imagej.net/ticket/1485

[2014-05-06 14:08] ctrueden opened #77 "Add an auto-run facility"
As [discussed on IRC](http://code.imagej.net/chatlogs/imagejdev?times=prefix&start-date=2013-03-15&end-date=2013-03-15#20130315T163800), we should have a way for users to define macros or scripts to run upon startup that is more flexible than StartupMacros.ijm.

We need to add handling for scripts/AutoRun/ (in alphabetical order for consistency) for that.

In Fiji, this was fixed in https://github

[2014-05-06 14:33] ctrueden opened #78 "Migrate Fiji's Script Editor templates to ImageJ core"
The Script Editor supports templates, which appear in its Templates menu. Right now, Fiji ships its templates as part of the [Script_Editor](https://github.com/fiji/Script_Editor) component; see the [src/main/resources/templates](https://github.com/fiji/Script_Editor/tree/c67be846b3ae2db1225635c8b1bf2f0a09f47984/src/main/resources/templates) folder.

We should migrate all templates that do not use

[2014-05-06 14:36] ctrueden opened #79 "Add support for more scripting languages"
I want to add more scripting languages to ImageJ. Fortunately, there are JSR-223 script engine implementations for lots of languages. See:
- http://fiji.sc/git/?p=scripting/.git;a=summary
- http://fiji.sc/git/?p=sleep/.git;a=summary

In particular, it would be great to add Groovy, although there are lots of good ones.

Migrated-From: http://trac.imagej.net/ticket/2042

[2014-05-10 21:25] ctrueden opened #80 "Document how Git, JUnit, Maven, Jenkins interact in the Fiji/ImageJ projects"
Public outreach: describe how we do things, and why.

Migrated-From: http://trac.imagej.net/ticket/1469

[2014-05-11 14:41] ctrueden opened #81 "Anonymous usage statistics service"
We should create a service for monitoring anonymous usage statistics and submitting them to us. This would be optional of course, with the user being prompted at the beginning whether to allow it.

These statistics would be very useful to see which features people are actually using, to prioritize improvements.

Migrated-From: http://trac.imagej.net/ticket/750

[2014-05-12 17:43] ctrueden opened #82 "(Invalid)"
Nothing to see here.

[2014-05-12 17:44] #82 closed, assigned to nobody

[2014-05-14 20:38] #45 closed, assigned to dscho

[2014-05-14 20:57] #53 closed, assigned to dscho

[2014-05-14 20:58] #44 closed, assigned to dscho

[2014-05-15 02:16] #55 closed, assigned to dscho

[2014-05-15 02:19] #41 closed, assigned to dscho

[2014-05-15 02:19] #54 closed, assigned to dscho

[2014-05-15 02:23] #37 closed, assigned to dscho

[2014-05-15 15:17] #47 closed, assigned to dscho

[2014-05-15 15:40] #22 closed, assigned to dscho

[2014-05-22 15:58] dscho opened #83 "How about an http://status.imagej.net/?"
The website would be populated basically by the output of [SciJava scripts](https://github.com/scijava/scijava-scripts)' `check-release.pl`, updated by the Jenkins jobs connected to the respective repositories.

It would be really valuable e.g. when all I want to know is: which `pom-scijava`-managed components should be released before making a new `pom-scijava` release? It would also make for a t

[2014-05-26 20:03] #76 closed, assigned to nobody

[2014-05-26 20:05] #78 closed, assigned to dscho

[2014-05-27 17:48] #40 closed, assigned to dscho

[2014-06-07 16:11] hadim opened #85 "IJ is really slow performing Z projection on virtual stack"
Note : Feel free to move this issue if there is a more appropriate repo (imagej-legacy?)

IJ is really slow performing Z projection on virtual stack. For example on a 135x65 image with 10 z stacks. When I launching z projection I have to wait 18sec to see 10 timepoints processed and my proc is crying (100% during the whole projection).

Now using BF and virtual stack box checked, virtual stack is

[2014-06-09 03:47] ctrueden opened #87 "Tiled browser interface"
When visualizing extremely large image planes, it is necessary to load the plane in tiles, displaying only those portions that are currently visible, and caching tiles at several zoom levels, similar to [BrainMaps.org](http://brain-maps.org/) or Google Maps.

ImageJ 1.x provides a mechanism, the virtual stack, for handling very large datasets one image plane at a time. But there is no mechanism fo

[2014-06-12 20:20] apal4 opened #89 "Decide how `ij.ui().show(imageDisplay);` should work when no UI is visible"
See the add-rois tutorial. As written, the tutorial currently shows nothing despite a call to `ij.ui().show(imageDisplay);`. It used to be the case that this showed the object in the default UI, despite that UI not being visible. It is unintuitive that the tutorial now appears to do nothing. We should either:
- add a `ij.ui().showUI();` call to the tutorial
- make `show(Object);` do something rega

[2014-06-16 13:21] #85 closed, assigned to nobody

[2014-06-23 18:57] ctrueden opened #90 "Setup and reference IJ2 URLs"
The Help menu entries currently use IJ1 plugins and refer to IJ1 URLs. They should use IJ2 URLs where the functionality is different. (SwingOverlayManager uses an IJ1 URL when it needs an IJ2 URL) We need to setup our IJ2 website first and create appropriate content as we go forward.

Migrated-From: http://trac.imagej.net/ticket/1275

[2014-06-23 18:57] ctrueden opened #91 "Investigate graph-maven-plugin"
Right now we use maven-graph-plugin to render some dependency graphs for ImageJ2. That project is not active anymore, and there is a newer more active [graph-maven-plugin](https://github.com/jcaddel/graph-maven-plugin) project worth considering instead, which is [deployed to Maven Central](http://search.maven.org/#browse%7C-556558366).

Migrated-From: http://trac.imagej.net/ticket/2038

[2014-06-23 19:06] ctrueden opened #92 "Document all public API"
The ImageJ2 and ImgLib2 core classes must have full javadoc of all classes and public methods.

Migrated-From: http://trac.imagej.net/ticket/1015

[2014-06-24 15:52] #83 closed, assigned to dscho

[2014-07-01 19:58] #52 closed, assigned to dscho

[2014-07-10 17:33] ctrueden opened #93 "Do not let ImageJ settings impact macros and scripts"
Right now, the current ImageJ settings (e.g., whether Edit>Options>ImageJ2 "Use SCIFIO when opening files" is ticked) impact the behavior of macros and scripts. This can cause very difficult-to-diagnose problems, which can only be "fixed" by clearing the preferences. Further, it ruins reproducibility: write a macro and give it to a colleague and it may not work the same way on their exact same ver

[2014-07-18 18:40] hinerm opened #94 "Preferences for Multiple Instances, Applications, and Versions"
Regarding Preferences support for Multiple Instances, Applications, and Versions

Right now, Prefs are stored in the userRoot() by Class<?> and name.

I don't think that this allows us to support any of these scenarios:

[code]

I all of these cases, they will stomp on each other by reading/writing the same Prefs.

I'd like to propose an extension to the Prefs mechanism which follows:

When an app

[2014-07-18 18:40] hinerm opened #95 "Consolidate options, prefs and config logic"
Currently, we have a package `org.scijava.options` with an `OptionsService`, as well as a separate `net.imagej.config` package with a `ConfigFileParameters` class for working with the ImageJ.cfg launcher file. We also have `org.scijava.util.Prefs` for managing persistence of key/value string pairs.

We should strongly consider consolidation of all these, eliminating any redundant concepts.

Migrat

[2014-07-24 12:39] dietzc opened #96 "CZI file opened (poorly) without CZI format available"
If you want to open a format which is not natively supported by SCIFIO/ImageJ2, the user should receive a warning message. Currently the file is opened in a  text-editor as binary.

[2014-08-12 06:13] #81 closed, assigned to nobody

[2014-08-20 20:31] ctrueden opened #97 "ImageJ startup is too fragile"
From a fresh Fiji installation, try this:

[code]

And the application will fail to start up with an error similar to:

[code]

We specifically tried to address this sort of fragility by adding a `scijava.context.strict` system property, which tries much harder to continue creating the context despite such issues, but adding `-Dscijava.context.strict=false` to the above program launch does not all

[2014-08-25 10:57] ctrueden opened #98 "Fix "Run single instance listener" feature"
As [reported on the mailing list](https://list.nih.gov/cgi-bin/wa.exe?A2=IMAGEJ;1adb9e44.1407), at least on Windows, the "Run single instance listener" option does not work.

[2014-08-29 15:01] jaywarrick opened #99 "Reproducible Error related to nd2 file support or ImageJ.ui().show(display) or Dataset.getPlane(int)?"
Hi all,

Ran into a repeatable issue in ImageJ. The MWE maven project is here (https://github.com/jaywarrick/BrokenND2Reader). The example files are here (https://drive.google.com/file/d/0B92CCdrrv5Lfb2s5RE8xMTRITFk/edit?usp=sharing) and here (https://drive.google.com/file/d/0B92CCdrrv5LfRWpWa0pkRk5YRFE/edit?usp=sharing). The Dimensions of the ND2 file are T(1) x XY(4) x Z(3) x λ(3) x X(6144) x Y(

[2014-09-01 13:17] ctrueden opened #100 "Localization/internationalization"
ImageJ is a program in use around the world, yet little work has been done to provide official [localized versions](http://en.wikipedia.org/wiki/Language_localisation) in languages other than English. We should research the best design for doing so.

Migrated-From: http://trac.imagej.net/ticket/37

[2014-09-02 22:13] ctrueden opened #101 "Allow both System and User settings"
The ImageJ2 configuration should be stored in a single folder beneath the user's home directory, according to the conventions of the operating system:
- Windows: ${user.home}\Application Data\ImageJ
- Mac OS X: ${user.home}/Library/Preferences/ImageJ
- Linux: ${user.home}/.imagej

The ImageJ.cfg file should live there, as well as all persisted properties. At the moment, such properties are scatter

[2014-09-09 15:50] #99 closed, assigned to nobody

[2014-10-30 17:49] #79 closed, assigned to ctrueden

[2014-11-17 23:14] drmatthews opened #102 "toggle imagej2 options at command line"
I am using Fiji at the command line in headless mode and running commands using a macro. I am  working in a server environment using Ubuntu 14.04 (trusty). The images I am trying to work on our saved in the OME.TIFF format and I am trying to using the "open(path)" macro command with ImageJ2 options enabled.

When I download Fiji in the server it seems as if ImageJ2 options are not enabled by defau

[2014-11-20 16:31] hinerm opened #103 "Flag suspect update sites"
It would be nice if we automatically flagged update sites that:

a) have direct/transient SNAPSHOT dependencies
b) contain libraries that override core update site classes

This would allow users to see which sites could cause problems with their ImageJ/Fiji installation, and help encourage developers to maintain their software.

[2014-12-09 22:58] ctrueden opened #104 "Support for data source abstraction"
ImgLib provides an interface-driven mechanism for delivering image data from a particular source. For example, implementations might provide access to image data from:
- [x] files
- [ ] URLs
- [ ] an external system such as an OMERO database

Bio-Formats also has this type of data source abstraction, and it is worth investigating how and where this feature should be modeled in the new ImageJ API.

[2014-12-18 18:24] hinerm opened #105 "Remove tools.jar dependency"
We are currently shipping com.sun:tools.jar on the ImageJ update site. This is improper usage of an intended system scope dependency, which should  and of questionable legality. It also causes duplicate class conflicts with the Fiji [javac fork](https://github.com/fiji/javac).

To fully remove our dependency on com.sun:tools:
- [x] Remove the com.sun:tools dependency from [ImageJA](https://github.

[2014-12-18 18:40] ctrueden opened #106 "Consider how best to handle "multi-channel" color spaces (RGB, HSB, CIELab, etc.)"
@landinig wrote:

Migrated-From: http://trac.imagej.net/ticket/1108

[2014-12-18 18:48] ctrueden opened #107 "New Image can cover app frame"
The creation of new images can cover the app frame. Perhaps we should make sure that new image window creations don't cover the app frame unless there really is no other choice.

(This may not be deemed that important but it seriously annoys me)

Migrated-From: http://trac.imagej.net/ticket/1429

[2014-12-19 17:26] hinerm opened #108 "Consider making imagej-legacy optional"
The use of the [LegacyService](https://github.com/imagej/imagej/blob/4ba509d0cfdc1fe998960ee397097ec985c6b31a/src/main/java/net/imagej/ImageJ.java#L168-170) creates a hard dependency on [ImageJ-Legacy](github.com/imagej/imagej-legacy). We may not want to force a dependency on ImageJ 1.x.

As an alternative, we could remove this method from the gateway, and make the imagej-legacy dependency scope:r

[2015-01-13 10:44] hadim opened #109 "ImageJ does not detect frame interval"
I post it here but I really don't know where this bug should go wether scifio, fiji or imagej.

When opening OME Tiff, frame interval (dt) is not detected (all other metadata are correctly detected). Looking at the OME XML inside the tiff file I confirm that TimeIncrement is correctly set.

This issue happens with all my images. An example can be found here : https://arwen.hadim.fr/public.php?serv

[2015-01-13 15:04] ctrueden commented on #109
Looks like a bug in SCIFIO. Here are my test results with an up-to-date Fiji:

Field           | Bio-Formats | SCIFIO    | ImageJ1
-----           | ----------- | ------    | -------
Channels (c)    | 1           | 1         | 1
Slices (z)      | 6           | 6         | 1470
Frames (t)      | 245         | 245       | 1
Unit of length  | micron      | pixel     | cm
Pixel width     | 0.0645000

[2015-01-13 15:11] hadim commented on #109
Sorry I didn't mention that it works fine with BF.

[2015-01-16 21:02] ctrueden opened #110 "ImageJ fails to run ImageJ1 plugins when launched from Eclipse"
In Eclipse, edit `net.imagej.Main.main` to add the line:
[code]
Then launch the main class. You will see all of Fiji's plugins in the menus. However, attempting to execute any of them yields a dialog box with a "Plugin or class not found" error.

Reported on the imagej-devel mailing list by Christian Göschl.

[2015-01-21 15:32] ctrueden commented on #60
Actually, let's move this issue to the `imagej-common` issue tracker where it belongs: https://github.com/imagej/imagej-common/issues/46

[2015-01-21 15:32] #60 closed

[2015-02-04 20:23] ctrueden opened #111 "Make it super easy to cite ImageJ plugins"
As [discussed on the ImageJ mailing list](https://list.nih.gov/cgi-bin/wa.exe?A2=IMAGEJ;31836c41.1501), it would be great if there were a one-click download of plugin citations into your citation management software, similar to what PubMed et. al have. As a start, we could install the Biblio extension, but that may not be enough by itself to accomplish this goal.

[2015-03-02 16:18] manerotoni commented on #98
Hi dscho,
here at EMBL, Heidelberg, we also used the single instance ImageJ to call a script from another program. At the moment I just reverted to IJ1 but this is definitely not a solution.
May be there is another way? for instance build a socket communication with Fiji and send commands, scripts through it.

Thanks

Antonio

[2015-03-02 18:16] ctrueden commented on #98
@manerotoni: Realistically, there is no one on the core development team who can reimplement this feature for ImageJ2 any time soon. However, pull requests are very welcome. The patch would go in the ImageJ Legacy component's [LegacyCommandline](https://github.com/imagej/imagej-legacy/blob/imagej-legacy-0.11.0/src/main/java/net/imagej/legacy/LegacyCommandline.java) class. A starting point is the [

[2015-03-09 21:23] ctrueden opened #112 "Consider creating ImageJ forums"
Some people (I'm looking at you, @dietzc!) really, really prefer forums. And others (like me) really hate them. But to be fair: subscribing to a mailing list just to ask one question is super annoying. So annoying that lots of people never do it. Forums are much more convenient. And easy to use. And rich—email is still so 1980s.

The thing I am _really_ against doing is having a separate forum and

[2015-03-18 19:09] hinerm opened #114 "Jython scripts can't be run headlessly on Windows"
Attempting to do so gives

[code]

See also [this imagej mailing list thread](http://imagej.1557.x6.nabble.com/Error-in-headless-mode-on-Windows-7-with-current-FIJI-ImageJ-installation-td5010280.html#a5011873).

May be solved by updating the jython version in [jython-shaded](https://github.com/scijava/jython-shaded)

[2015-03-18 19:17] ctrueden commented on #114
Once this issue is resolved, the [corresponding warning on the wiki](http://imagej.net/Headless#Running_scripts_in_headless_mode) should be removed.

[2015-03-18 20:17] hinerm opened #115 "Move scijava-config to ImageJ update site"
`scijava:scijava-config` should be added as an `optional`, `scope:runtime` dependency of ImageJ and moved from the Fiji update site to ImageJ.

This is necessary for standalone ImageJ distribution.

[2015-03-20 08:51] tinevez commented on #114
I confirm the bug and symptoms on the win64 platform, running windows 8.1 or windows 7.
The dll mention in @hinerm description in my case points to a dll that lives in the %AppData% folder.

[2015-03-20 17:42] ctrueden opened #116 "Make JavaScript work in Java 8"
Java 8 removed the [Rhino](http://mozilla.org/rhino/) implementation of JavaScript in favor of the newer, faster, better, shinier, and backwards-incompatible [Nashorn](http://openjdk.java.net/projects/nashorn/) implementation.

So most (probably all) JavaScript scripts distributed with ImageJ and Fiji do not work in Java 8.

Let's fix that by updating the SciJava [scripting-javascript](https://git

[2015-03-24 21:22] ctrueden opened #117 "Improve ImageJ's handling of large (>4GB) TIFF files"
It should be possible to quickly load, browse and save very large TIFF files in a coherent way. There are several pieces to this:

* [ ] Ensure SCIFIO transparently writes to BigTIFF when exporting using File > Export > Image...
* [ ] Make SCIFIO able to import ImageJ's "raw pseudo TIFF" format
* [ ] Make SCIFIO's "virtual stack" (cell image) performance as good as possible

Also critical is to im

[2015-03-24 21:47] tinevez commented on #117
What is a telltale?

[2015-03-24 21:52] ctrueden commented on #117
@tinevez I edited the description to use the word "signs" instead of "telltales" and gave a couple of parenthetical examples.

[2015-03-25 08:59] ehrenfeu commented on #117
@tinevez "telltales" are thin threads helping you in trimming your sails: http://www.startedsailing.com/tell-tales.html
I'm not sure how this is related in improving the SCIFIO/Bio-Formats performance, but if sailing helps I'd be more than happy to take everyone involved out for a cruise :boat: :anchor: :wink:

[2015-04-03 13:49] ctrueden opened #118 "Create stable ImageJ download which bundles a modern JRE"
The [Downloads page](http://imagej.net/Downloads) currently has two major download sections:
* A build of ImageJ2 from the [master branch](https://github.com/imagej/imagej/tree/master).
* Bundles of Fiji from [its master branch](https://github.com/fiji/fiji/tree/master).

In the case of ImageJ2, we also cut [release versions](https://github.com/imagej/imagej/releases) which are uploaded to the cor

[2015-04-06 16:47] ctrueden opened #119 "You can quit while saving"
And if you do, the save gets cut off, since `System.exit(0)` is called.

What a nasty problem. But that's what happens when you forcibly shut down the JVM. We could work around it by adding a shutdown hook which blocks until saving is complete, but that could create its own problems (deadlock, etc.)...

[2015-04-06 19:00] ctrueden opened #120 "Bundle JOGL-based Java 3D 1.6 with ImageJ"
We want to bundle Java 3D with ImageJ, so users do not need to install anything into the `lib/ext` like you used to. In particular, this will make the [3D Viewer](https://github.com/fiji/3D_Viewer) more platform independent, and help bring the 3D rendering framework of ImageJ into the 21st century.

It will also hopefully allow Java 3D to work more reliably with Java 1.8 on modern operating system

[2015-04-06 22:35] ctrueden opened #121 "Allow passing parameters to scripts"
Right now, there is no way to pass script parameter values via the command line; e.g.:
[code]
ImageJ should definitely support this. The question is: how best to assign the parameter values to the inputs? We could use key/value pairs, or simply take the arguments in order of `@Parameter` declaration. This would be a great feature of ImageJ2 facilitated by the parameterized scripting framework, sin

[2015-04-16 16:19] ctrueden opened #122 "Redesign the issue reporting system"
Fiji has a Bug Submitter for the Fiji BugZilla. We want to retire this, in favor of general SciJava functionality: a new issue reporting system, which interfaces with GitHub Issues—and the potential to write additional plugins, too. It could live in scijava-common, or a scijava-issues component if there are new dependencies. And a UI would exist in scijava-ui-swing. The issue reporter would suppor

[2015-04-16 22:05] ctrueden commented on #118
For OS X, we should look at industry standard app bundlers if we can find anything decent. Here are some candidates:
* https://bitbucket.org/infinitekind/appbundler
* https://github.com/federkasten/appbundle-maven-plugin

[2015-04-21 15:16] ctrueden commented on #122
A related question for @melissalinkert and @joshmoore: I would like to unify how users report "Fiji Bio-Formats" issues with the [standard Bio-Formats bug reporting process](http://openmicroscopy.org/site/support/bio-formats/about/bug-reporting.html). To that end: after we have updated ImageJ's bug submitter plugin to send bug reports to GitHub issues, would it be OK to keep a "Bio-Formats" compon

[2015-04-21 16:11] melissalinkert commented on #122
@ctrueden: Thanks - GitHub issues are fine with us, as we already receive some feedback there.

[2015-04-21 20:28] ctrueden opened #123 "Some Windows systems fail to launch due to Java Access Bridge problem"
Relevant stack trace is:
[code]

After a few web searches, I am totally clueless as to what causes this problem.

See also:
* http://code.imagej.net/chatlogs/fiji-devel?times=prefix&start-date=2015-04-21&start-time=0400&end-date=2015-04-22&end-time=0400
* http://pastebin.com/njsGCKwD

[2015-04-22 16:25] ctrueden opened #124 "Consider creating a Homebrew tap for ImageJ"
This might help alleviate OS X installation woes.

Unfortunately, most OS X users are accustomed to installing things via .dmg files, and dragging to Applications. And though it breaks my heart, they are decided _un_comfortable with the CLI. So it is unlikely that a Homebrew version of ImageJ could completely replace an OS X download.

See also https://github.com/imagej/imagej-launcher/issues/16#i

[2015-04-28 17:47] hinerm commented on #118
@ctrueden
[code]

This is essentially the same JavaFX doc I found. All the JavaFX configuration I've seen is Ant and NetBeans based, but it does look like there is a [maven wrapper](http://zenjava.com/javafx/maven/) as well.

[2015-04-28 18:03] hinerm opened #125 "Let's add more badges to our projects"
* [Jenkins](https://wiki.jenkins-ci.org/display/JENKINS/Embeddable+Build+Status+Plugin)
* [SemVer](https://www.versioneye.com/)
* Custom [shields](http://shields.io/) e.g. for Maven central links.

The syntax is:
[code]

[2015-04-29 04:16] ctrueden commented on #125
Cool idea.

For fun, I installed the Jenkins Embeddable Build Status plugin, and added badges to all relevant repositories across scijava, scifio, imglib, imagej and fiji orgs.

Here's the script I used:

[code]

The only problem is: I didn't make each badge actually link back to its associated Jenkins job. And instead, GitHub gives it a confusing default link target. So later, we should probably

[2015-05-06 18:59] StephanJanosch opened #126 "Javadoc links to ImgLib2 are broken"
Looking at [Dataset](http://javadoc.imagej.net/ImageJ/net/imagej/Dataset.html) I see a link [Dimensions](http://javadoc.imagej.net/ImageJ/net/imglib2/Dimensions.html?is-external=true) leading towards Imglib2. But the link is broken.

[2015-05-07 12:55] hinerm commented on #126
Thanks for pointing this out! Looks like cross-component links are not working. We'll try to fix it soon.

In the mean time, the direct links from [javadoc.imagej.net](http://javadoc.imagej.net/) so you can still view [ImgLib2 javadoc](http://javadoc.imagej.net/ImgLib2/) - it's just much more annoying.

[2015-05-07 12:56] hinerm commented on #126
@ctrueden tagging you here too as either of us can fix this.

I also noticed that trailing `/` characters are not being appended for `ImageJ` again...

[2015-05-07 12:57] ctrueden commented on #126
The weird thing is that _some_ of the cross-component links work. Even to ImgLib2. Look carefully through the type hierarchy of `Dataset`, and you'll see that e.g. `EuclideanSpace` link is broken, but `Img` is correct. So this might be a tough nut to crack (could be a javadoc bug).

[2015-05-07 12:58] hinerm commented on #126
Well it wouldn't be much fun if the problem was consistently reproducible..

[2015-05-07 12:58] hinerm commented on #126
:octopus:

[2015-05-13 18:36] ctrueden commented on #120
An experimental Windows 64-bit bundle of Fiji including the JOGL-based Java 3D 1.6 is available here:
* http://curtis.imagej.net/2015-04-09-jogl-java3d/

[2015-05-21 04:27] ctrueden commented on #87
Depends on scifio/scifio#125.

[2015-06-08 17:46] hinerm opened #127 "Follow up on slow OSX paint performance"
http://imagej.sourceforge.net/docs/install/osx.html refers to bug #2720543 file with Apple regarding ImageJ's slow paint performance on OSX. Supposedly this is fixed but I wasn't able to find a public reference to this bug - so we should make sure it truly is fixed in newer Apple Javas.

[2015-06-08 17:56] hinerm opened #306 "Expand installation options"
Wanted:
- [Windows installer](https://github.com/imagej/imagej/issues/72)
- Homebrew tap
- ~~OSX App Store distribution (requires proper signing - which should also stop the terrible security annoyances on OSX)~~
- Debian package

Maybe:
- Windows 8 app store?

[2015-06-08 18:31] ctrueden commented on #127
Whoa, hold on. That document looks super old. It is talking about performance of OS X when it _first came out_, as compared to _OS 9_.

There is a different painting bug, which manifests with Oracle Java 8 (and I think Java 7 too?). As of `1.8.0_45` the problem seems to be fixed. (`1.8.0_11` still had the issue—not sure exactly which version fixed it.)

See also [Fiji bug #965](http://fiji.sc/bugz

[2015-06-08 18:32] ctrueden commented on #127
So anyway: paint performance fixed! Thank you Oracle! :grin:

[2015-06-08 18:32] #127 closed

[2015-06-11 22:06] #116 closed

[2015-06-11 22:07] ctrueden commented on #116
Fortunately, we didn't have to resort to shipping our own Rhino interpreter, because Nashorn provides a reasonable [backwards compatibility layer](http://www.oracle.com/technetwork/articles/java/jf14-nashorn-2126515.html). Using that seems to do the trick, at least on the surface.

[2015-06-12 16:37] ctrueden commented on #116
Note that as things stand, when running ImageJ with Java 8 on OS X, the following error is given:
[code]

This error is caused by the fact that the ImageJ launcher passes `-Djava.ext.dirs=/Applications/Fiji.app/java/macosx-java3d/Home/lib/ext:/Library/Java/Extensions:/System/Library/Java/Extensions:/System/Library/Frameworks/JavaVM.framework/Home/lib/ext` to the Java process. To fix it, we'll eith

[2015-06-15 15:19] imagejan commented on #120
@ctrueden The Windows 64-bit bundle worked well for me with a Java 1.8 installation *after* removing a previously installed Java3D (i.e. deleting the C:\Program Files\Java\Java3D folder *and* the j3dcore.jar and j3dutils.jar from that installtion).

Otherwise the ./jars/j3d-core-1.6.0-SNAPSHOT.jar and ./jars/j3d-core-utils-1.6.0-SNAPSHOT.jar are shaded by the existing installation.

[2015-06-16 16:22] hinerm commented on #101
As we update the build system the scope of this issue will move beyond ImageJ.cfg (which should go away).

We want the ability to designate a system and user jar/plugin location. The user should probably have the ability to toggle between these on restart (so the presence of a system installation doesn't supercede the user's).

[2015-06-18 14:47] hinerm commented on #120
@imagejan Thanks for testing! Did Java 3D still work with the shaded jars, or were there exceptions?

[2015-06-18 15:01] ctrueden commented on #120
Because I am pedant, I want to point out that [shading](https://maven.apache.org/plugins/maven-shade-plugin/) means to rename the packages to _avoid_ name clashes. A better word here might be "shadow."

But anyway I think the situation here is clear: the Java 3D installed into your JRE's `lib/ext` took priority over the JOGL-based one shipped by the Fiji bundle, right? But an important question as

[2015-06-18 15:56] hinerm commented on #120
More thoughts: currently the launcher sets the Java3D installed by the 3D viewer first on the [`ext.dir`](https://docs.oracle.com/javase/tutorial/ext/basics/install.html) - causing it to take precedence even if a local Java installation has a Java3D extension. This goes against our current push to "just let stuff happen naturally", and not rely on potentially obscure low-level workarounds.

A step

[2015-06-19 15:15] rejsmont commented on #120
If I may comment, ImageJ 3D viewer seems to be completely happy with 1.6.0-pre12-daily-experimental I have grabbed from:

https://jogamp.org/deployment/java3d/1.6.0-pre12/

of course you also need jogl:

https://jogamp.org/deployment/jogamp-current/archive/

and need to ditch the now-supplied 1.5

[2015-06-19 15:42] ctrueden commented on #120
@rejsmont Indeed, we have found that the JOGL-based Java 3D 1.6 works great. At this point, it is not the software that is the problem, but the deployment.

Java 3D 1.6 + JOGL are deployed like any other library: using JAR files. The JOGL libraries do ship native libs internally, but all works seamlessly thanks to the talented JogAmp team (thank you @io7m, @gouessej and @hharrison!).

In contrast,

[2015-06-19 17:21] ctrueden opened #128 "Set up gitter-irc bot linkage"
There is a [gitter-irc-bot](https://github.com/finnp/gitter-irc-bot) which can be used for bidirectional syncing between an IRC and Gitter chat room. This would be great for [imagej/imagej](https://gitter.im/imagej/imagej) :left_right_arrow: #imagejdev and [fiji/fiji](https://gitter.im/fiji/fiji) :left_right_arrow: #fiji-devel.

[2015-06-23 14:17] imagejan commented on #120
@ctrueden I tested the 3D viewer on OS X in various configurations:
 * Java 1.6 and Java3D 1.5 (standard Fiji installation) works fine
 * running with the default JRE installation using
      `--java-home='/Library/Internet\ Plug-Ins/JavaAppletPlugin.plugin/Home'` finishes immediately without output
 * after installing JDK 1.8, running with `--java-home=/Library/Java/JavaVirtualMachines/jdk1.8.0_4

[2015-06-23 14:24] ctrueden commented on #120
@imagejan To be clear: none of those OS X tests used the JOGL-based Java 3D 1.6 prerelease, did they?

[2015-06-23 14:38] imagejan commented on #120
@ctrueden correct. I tested the JOGL-based Win64 bundle only on Windows, where it produced errors when Java3D 1.5 was still installed (see also http://imagej.1557.x6.nabble.com/Re-ImageJ-3D-Viewer-Java-1-8-td5012563.html), but worked well when Java3D was removed from the system Java installation. Is there a ready-to-use bundled version for OSX that I should test?

[2015-06-23 15:55] gouessej commented on #120
@imagejan You use an obsolete version of Java (even Apple advises not to use it) with an obsolete version of Java 3D based on an obsolete version of JOGL (outdated, released in 2009). Java 1.8 seems to find the Java libraries of Java3D and JOGL 1 but not its native libraries. Anyway, Java3D 1.5 should be uninstalled before using Java3D 1.6 in order to avoid conflicts, especially under OS X.

[2015-06-23 16:02] rejsmont commented on #120
@gouessej @imagejan It does find native libraries when they are placed in /Library/Java/Extensions:

[code]

[2015-06-23 16:10] ctrueden commented on #120
@rejsmont Keep in mind that the [ImageJ Launcher](http://imagej.net/Launcher) plays with `java.ext.dirs` on OS X. You can verify this by running:
[code]
And  scrutinizing the `-Djava.ext.dirs=...` argument.

But this will become moot after we migrate away from the ImageJ Launcher later this summer.

[2015-06-23 16:13] ctrueden commented on #120
@gouessej Please do not be too judgmental—we still ship Fiji with Java 1.6.0_24 (!!!). We are definitely trying to migrate away from this horribly buggy and out of date version of Java, but it takes time, and we have to be careful about backwards compatibility.

I fear we will need to write some code on the Java side that checks for old versions of Java 3D and warns the user about them, so that th

[2015-06-23 16:14] ctrueden commented on #120
@imagejan Not yet. I will try to get things ready by the end of the week.

[2015-06-23 16:28] rejsmont commented on #120
@ctrueden AFAIK it would check the directory where jni jar resides... or not?

[2015-06-23 22:19] ctrueden commented on #120
@rejsmont Sorry, I'm not sure what you're asking.

[2015-06-30 18:41] gouessej commented on #120
@ctrueden The problem is that Fiji relies on the extension mechanism, otherwise you could set java.ext.dirs to "". Maybe it's possible to create your own classloader to throw away Java3D 1.5 by using JCL as a source of inspiration: http://kamranzafar.github.com/JCL Another possibility consists in bundling OpenJDK 1.9 or a modified earlier version without any extension mechanism so that Java3D 1.5

[2015-06-30 18:48] ctrueden commented on #120
@gouessej Java 8 itself relies on the extensions mechanism for many things, including JavaScript support. (Just look in the JRE 8's `lib/ext` directory.) So setting `java.ext.dirs` to nothing is not an option.

ImageJ does use its own `ClassLoader`, so I suppose extending that would be a possibility.

But at least initially, I think it will be sufficient to simply warn the user about incompatible

[2015-06-30 18:57] gouessej commented on #120
@ctrueden Java 1.8 uses this mechanism for NIO 2 too, I know that it's a bit dangerous.

The problem is that warning the end user isn't enough when loading and running Java3D <= 1.5.2 lead to a crash. In my humble opinion, it would be better to force the loading of JOGL 2 and Java3D 1.6 very early, for example by calling GLProfile.initSingleton() as this class doesn't exist in JOGL 1.

A smarter s

[2015-06-30 19:03] ctrueden commented on #120
@gouessej wrote:

Yeah, we could do it very easily using the Maven Shade plugin. For example, I did it already for Jython 1.5.3: https://github.com/scijava/jython-shaded

[2015-08-17 14:30] ctrueden commented on #116
(For completeness, the above "No such script engine" error was fixed in imagej/imagej-launcher@4e1e688906d140c3ea6313ca2a0f9cc3b5879644 and imagej/imagej-launcher@333ade43b38dfa3295641c9e6f70801808b16480.)

[2015-09-02 20:59] ctrueden opened #129 "Verify that no core services fail to implement ImageJService"
All services in imagej components should be tagged with `ImageJService`.

[2015-09-03 01:34] ctrueden opened #130 "Vanilla ImageJ2 is missing libraries"
When starting up a plain ImageJ2:
[code]
The JAR(s) in question should be migrated from the Fiji update site to the ImageJ update site.

[2015-09-03 14:47] ctrueden opened #131 "Fix Upload-IJ1-Into-ImageJ"
The job [failed](http://jenkins.imagej.net/job/Upload-IJ1-Into-ImageJ/2738/console) with the `ij-1.50b` release. Probably (at least partially) caused by #130.

[2015-09-06 13:29] hinerm opened #132 "Try using SWAMP"
I'm assuming we could use SWAMP to do everything I wanted with SonarQube and then we wouldn't be responsible for maintaining our own code analysis.

It would be especially useful if we could tie SWAMP analysis to jenkins jobs, in response to github pushes.

[2015-09-09 14:47] ctrueden commented on #112
We should use [Discourse](http://discourse.org/). Definitely. DEFINITELY.

[2015-09-09 15:14] tinevez commented on #112
A StackOverflow group?

[2015-09-09 17:26] ctrueden commented on #112
@tinevez There is an imagej tag on StackOverflow, yeah, and some of us (me, @hinerm and @imagejan in particular) do follow it. But SO is not a discussion forum—it is actually the opposite: open-ended discussion is discouraged.

So Jeff Atwood, one of the founders of SO, invented this new tool called Discourse which is sort of "SO as a discussion forum." Excellent 21st century version of a forum wh

[2015-09-09 18:15] tinevez commented on #112
Ok Looks very good indeed!

[2015-09-14 16:56] ctrueden commented on #130
I released `2.0.0-rc-39` and uploaded all the newly needed libraries, including the `librarysupport` JAR and others.

[2015-09-14 16:56] #130 closed

[2015-09-29 02:06] ctrueden opened #133 "Add a "Recent changes" link to imagej.net Tools menu"
The Fiji site (http://fiji.sc/) has a "Recent changes" link under its Tools menu. But the ImageJ site (http://wiki.imagej.net/) does not. Probably skin-specific?

As [requested on the forum](http://forum.imagej.net/t/structuring-ij-developer-wiki/28/26) by @tferr, we want http://imagej.net/ to also show a "Recent changes" link.

[2015-10-09 21:04] ctrueden commented on #98
Fixed by imagej/imagej-legacy#116.

[2015-10-09 21:04] #98 closed

[2015-10-13 20:33] ctrueden commented on #112
We did it. WE DID IT. http://forum.imagej.net/

And it is awesome.

[2015-10-13 20:33] #112 closed

[2015-10-27 04:07] summercar commented on #72
I really need help downloading fiji to view multiphoton microscopy pictures please someone help

[2015-10-27 07:15] tinevez commented on #72
Hi @summercar check this link:
http://fiji.sc/Downloads#Fiji

[2015-10-27 08:17] dietzc commented on #72
Additionally, I want to point you on http://forum.imagej.net if you have further questions.

[2015-11-12 20:19] ctrueden opened #134 "Cannot merge 4D virtual stacks"
Or maybe any virtual stacks... needs further testing.

See [this forum post](http://forum.imagej.net/t/merging-virtual-hyperstacks/225).

It might depend on how the virtual stacks are created, since not all virtual stacks are created equal—Bio-Formats makes them differently than SCIFIO does, which makes them differently than ImageJ1's built-in functions such as `TIFF Virtual Stack...`.

Here is a

[2015-11-24 03:55] ctrueden commented on #120
There is now a ["3D" update site](http://sites.imagej.net/3D/) which installs new versions of the [3D Viewer](http://imagej.net/3D_Viewer) et. al which are built on Java 3D 1.6 + JOGL 2.

Enabling this update site lets the 3D Viewer function when running ImageJ with Java 8.

Once ImageJ has transitioned totally to Java 8 from Java 6 (some time in 2016), we will eliminate the 3D update site in favo

[2015-11-24 03:55] #120 closed

[2015-11-24 08:34] imagejan commented on #120
@ctrueden Great! The "3D" update site works fine with with Java 1.8.0_66 on Windows. However it downloads jars for all platforms (`gluegen-rt-natives`, `joal-natives`, `jocl-natives` and `jogl-all-natives` each in 11 versions). Is there a way to teach the updater to automatically install only the necessary ones? (IIRC that works for `./lib/<platform>`, see the FFMPEG update site; would using `./ja

[2015-11-24 15:26] tischi commented on #117
Hi All,

Just as an information: I am currently testing different file formats for opening and saving >4GB 5D image files in ImageJ and Imaris and for me __ics__ works very well (can be exported with Bioformats).

https://en.wikipedia.org/wiki/Image_Cytometry_Standard

I am mentioning this here as I feel this is a underrated image type that might deserve more attention.

[2015-11-24 16:02] ctrueden opened #135 "Switch to Java 8"
We need to update ImageJ to be based on Java 8 instead of Java 6.
## Why update
- Recent versions of Java 8 support Let's Encrypt SSL certificates; Java 6 does not. Hence, the ImageJ Updater needs Java 8 to offer secure (HTTPS) updates.
- Java 6 is considered unsafe from a security perspective. This is less of a concern for desktop applications than web ones, but still potentially a concern: many

[2015-11-24 18:15] ctrueden commented on #117
Thanks @tischi, ICS is indeed a nice format in many ways.

[2015-11-25 08:10] tinevez commented on #120
I can report some problems on Mac OSX ElCapitan.
But it '''only occurs for multi-frames''' stacks:

3D [dev] 1.6.0-scijava-2-pre11-daily-experimental daily

nFrames = 1
nFrames = 51
com.jogamp.opengl.GLException: detachAllImpl failed: FBO implementation fault, FBO[name r/w 1/1, init true, bound true, size 520x527, samples 0/8, modified true/true, depth RenderAttachment[type DEPTH, format 0x81a5, s

[2015-11-25 16:39] hinerm commented on #105
This needs to be robustly tested - e.g. if running from a JRE can the compiler in a JDK be located? Does using a different java location (like internet plugins) still work?

[2015-11-25 19:35] ctrueden commented on #120
@tinevez Looks like a bug in JOGL. It would be great to create an [MCVE](http://stackoverflow.com/help/mcve) / [SSCCE](http://sscce.org/) and submit it upstream to the JOGL team.

[2015-11-25 19:37] ctrueden commented on #120
@imagejan Yes, we could teach the updater to ship JARs conditionally on platform, as subfolders of `jars/`. Care to take a crack at it? If it were me, I would [start here](https://github.com/imagej/imagej-updater/blob/imagej-updater-0.7.7/src/main/java/net/imagej/updater/Checksummer.java#L413-L419).

[2015-11-27 12:54] imagejan commented on #120
@ctrueden Thanks for pushing me to do this: https://github.com/imagej/imagej-updater/pull/52

The more elegant solution might be to use a regex pattern to get the platform directly from the file name (to avoid the need of subfolders), but this would require more involved changes.

[2015-12-02 18:03] hinerm commented on #105
First bit of progress:

I have a [minimaven branch](https://github.com/scijava/minimaven/tree/use-tools-provider). Using it, I was able to successfully compile a .java file from the script editor after removing:
1. tools.jar
1. javac.jar

from my Fiji install when launched with a Java 7 JDK.

[2015-12-02 18:17] hinerm commented on #105
note that compilation still works *with* these jars as well

[2015-12-04 03:53] ctrueden commented on #125
Hmm, I must have fixed the Jenkins job links long ago now (and forgot to update this issue), because those all look fine.

In very recent news, I just added Maven Central badges to all the components currently published to Maven Central.

I looked through the other badges for useful ones, but nothing much jumped out at me, except:

* I don't like the GitHub forks/stars/watchers/issues, because tha

[2016-01-14 09:20] kephale opened #136 "jrunscript bootstrap.js fails in java 8"
Reiterating the issue from https://github.com/imagej/imagej-omero/issues/58, which is still happening in a fresh docker (via Travis) with oraclejdk8:

$ curl -O http://update.imagej.net/bootstrap.js
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 10016  100 10016    0     0  39010

[2016-01-18 15:23] ctrueden commented on #108
Addressed by e8fbfeee858960f4a46aed8e0eb03175385d62fa!

[2016-01-18 15:23] #108 closed

[2016-02-03 10:40] mankanz commented on #110
I have the same problem and symptoms but using the

java -Dplugins.dir=/xxx/xxx   -cp

[2016-02-18 17:05] uxhub commented on #117
Hi all,

Finally, is there a simple way to save big tiff file (>4gb) that will not produce a message like "Stack is larger than 4GB. Most TIFF readers will only open the first image. Use this information to open as raw: [...]" (file>save as>tiff), or like "loci.formats.FormatException: File is too large; call setBigTiff(true)" by using (plugins > bio-formats > bio-formats exporter) ?

Many thanks

[2016-02-18 17:46] ctrueden commented on #117
@uxhub This issue is about addressing precisely that limitation: there is no simple way currently. When this issue closes, it will be because the situation has improved, and saving large TIFFs "just works" as expected.

[2016-02-18 19:30] hinerm opened #137 "Downloads page rework"
Proposed changes for http://imagej.net/Downloads

- [ ] Create "Distributions of ImageJ" page (template?)
- [ ] Move Fiji downloads to fiji.sc
- [ ] Add links to distribution pages below primary ImageJ download
- [ ] Add JRE bundled downloads

[2016-02-19 06:45] abalter commented on #121
Very important because ImageJ is an extremely widely used collection of libraries that people use together, and more and more work is being done in an automated fashion on clusters. The need for this is only going to go up. I need it right now!

[2016-02-19 08:31] tischi commented on #117
@uxhub : why don't you use ICS? I think it is better than .tif in any aspect that I can think of.

[2016-02-19 08:34] dietzc commented on #121
Hi @abalter,

to automate stuff you can try to use http://knime.imagej.net.

Cheers,
Christian

[2016-02-19 09:06] uxhub commented on #117
OK thank you for your replies.
I will have a look on ICS format, but it doesn't seem to be standard in a lot of API and software. (I'll probably use the raw format...).
Could libtiff and bigtiff be used in IJ to save properly large tiff files ?
Regards,

[2016-02-19 14:44] tischi commented on #117
to me ICS seems to be the only standard worth talking of at the moment.
works with Imaris, ImageJ, Arivis, Matlab, Python, anything that uses BioFormats anyway.

[2016-02-19 15:34] hinerm commented on #121
@abalter @dietzc @ctrueden this actually will be solved in once we release https://github.com/scijava/scijava-common/commit/5715522284a0e8c1e9951ecbb186ce4cfc802e91

[2016-02-19 17:08] ctrueden commented on #117
The only problem with ICS is that it will lose a lot of metadata compared to OME-TIFF. So we do really need to fix these limitations with respect to 4+GB TIFF & OME-TIFF files.

[2016-02-26 21:12] #121 closed

[2016-02-26 22:01] ctrueden commented on #121
Thanks @hinerm! We still need to document this new functionality. Maybe [on the Headless page](http://imagej.net/Headless#Running_scripts_in_headless_mode)?

@abalter Feel free to give it a spin (by updating to the latest Java 8 version of Fiji)—and if it works for you, you are welcome to document how to pass the parameters by editing the wiki. :smile:

In brief: the syntax is key/value pairs sepa

[2016-02-29 14:31] hinerm commented on #121
Moved [here](http://imagej.net/Scripting_Headless) to be easier to find in the scripting topics.

[2016-02-29 16:36] ehrenfeu commented on #121
Actually, for Python scripts I did this already quite a while ago by introducing "triple-dash" arguments and parsing them via the standard [argparse](https://docs.python.org/2/library/argparse.html) module. See my OIB/OIF stitcher for an example (argparse code starts at [line 197](https://github.com/imcf/imcf-toolbox/blob/master/fiji/tools/FluoView_OIF_OIB_Stitcher.py#L197)):

https://github.com/i

[2016-02-29 18:08] ctrueden commented on #121
@hinerm Thanks for writing those docs.

In the final section, you mention that "user parameters" should be declared first. I think this is an unnecessary restriction. We should rework your arg parsing code to apply to only _unresolved_ inputs at the appropriate point in the module preprocessing pipeline. Then it will automagically skip parameters like services.

[2016-02-29 21:04] hinerm commented on #121
My first thought on how to do this is to standardizing the parameter parsing in the `ModuleService` and separate mapped and unmapped parameters. Mapped parameters have to be assigned before preprocessing, while unmapped are assigned after preprocessing but before running.

Also, since we'll need to do *some* input assignments in the `ModuleRunner`, I think we should move *all* input handling there

[2016-02-29 21:10] ctrueden commented on #121
Sorry, I don't understand. There is no such thing as "after preprocessing but before running." Rather, you can just make a preprocessor that operates at the appropriate juncture of the preprocessing pipeline.

[2016-03-10 21:57] ctrueden commented on #137
Progress on this:

* http://imagej.net/Downloads = vanilla ImageJ2 downloads page
* http://imagej.net/Fiji/Downloads = Fiji downloads page
* http://fiji/sc/#download = Fiji splash page, Download section

And the main/vanilla Downloads page has a link to the Fiji downloads page underneath the main ImageJ2 download.

Still to do:

* Make Jenkins job that builds latest vanilla ImageJ2 for each platfo

[2016-03-15 18:21] ChrisWeisiger opened #138 "Licenses link from Help menu is broken"
Help menu -> Licenses tries to load the page at http://fiji.sc/cgi-bin/gitweb.cgi?p=fiji.git;a=blob_plain;f=LICENSES;hb=HEAD which 404s.

[2016-03-15 21:20] imagejan commented on #138
This is in the obsolete [Fiji_Updater](https://github.com/fiji/Fiji_Updater) project:
https://github.com/fiji/Fiji_Updater/blob/master/src/main/resources/plugins.config

`Fiji_Updater.jar` is still served by the Fiji update site, maybe it could be removed?

[2016-03-24 09:55] Sethur opened #139 "Zooming onto a location with CTRL + Mouse Wheel is broken"
Hi,

in the current development release of ImageJ2, zooming with holding down CTRL and using the mousewheel does not seem to aim on the targeted pixel any longer (as it does in the current version of ImageJ1). When using "+" and "-", the aim is correct.

[2016-04-26 16:55] ctrueden commented on #138
Thanks for the report, @ChrisWeisiger!

I fixed the `fiji.sc` server configuration so these old URLs redirect properly to the correct location.

I will now clean up the Help menu for ImageJ2. Stay tuned.

[2016-04-26 21:51] ctrueden commented on #139
Thanks for the report. Yes, this is a known issue with the ImageJ2 Swing user interface right now. It used to work, but sadly, got broken at some point. Note that the ImageJ2 Swing UI is currently dormant, as development efforts are focused on ImageJ Ops and the ImageJ2 data model. The ImageJ 1.x legacy UI is currently the default UI for ImageJ2 and Fiji, and will likely remain so for quite some t

[2016-05-07 23:18] hadim opened #140 "ImageDisplay can't retrieve the current position of an Axis"
Steps to reproduce :

1. Open Mitosis sampl
2. Move the Z position slider
3 Launch this script

[code]

It should print `0`.

I guess it's an issue with IJ1 <-> IJ2 synchronization. Should we except such methods to work or it is a limitation of running IJ2 under the IJ1 interface ?

[2016-05-08 03:30] hadim commented on #140
Note : `setPosition()` does not seem to work neither.

[2016-05-09 17:12] ctrueden commented on #140
I definitely want this to work. And making it work should not be so difficult—we just need to respond to position changes on each side and update the other side accordingly. But I think there is no code that does that right now.

[2016-05-09 17:32] hadim commented on #140
Ok. If you direct me to the right piece of code, I can try to make it work and propose a PR.

[2016-05-09 23:32] hadim commented on #140
I think the code exists actually : https://github.com/imagej/imagej-legacy/blob/master/src/main/java/net/imagej/legacy/translate/PositionHarmonizer.java

[2016-05-11 02:46] hadim commented on #140
After some tests I found that `PositionHarmonizer.updateLegacyImage()` is only called once when an image is open in IJ1. But then it's never called so I guess this is why the positions are not synced between `ImageDisplay` and `ImagePlus`.

I wasn't able to find how the whole sync process works. So it's pretty hard for me to debug it. Here is some stuff that I noticed :

- `LegacyService.syncActiv

[2016-05-11 03:16] hadim commented on #140
I also found that sync is not always enabled (see `IJ2Options`) .

I guess the legacy code is not yet stable and fully working so I will stop my investigation here.

I let the issue open for the record.

[2016-05-16 16:34] kephale opened #141 "Change of image properties does not trigger "changes" in ImagePlus"
I'm not sure if this is by design or not, but it might be reasonable for changes in metadata to trigger the "changes" flag of an ImagePlus. Perhaps this goes away in IJ2, but it should be an easy modification nonetheless. The specific use case that brought this to mind was making changes to the calibration data of some images and not getting a "Save changes?" dialog after closing a modified image.

[2016-05-16 16:37] rimadoma commented on #141
@kephale Could these be related? https://github.com/scijava/scijava-common/issues/240

[2016-05-16 16:44] kephale commented on #141
Perhaps, I'm not terribly familiar with the IJ1<->IJ2 interface. However, I think the fix just involves adding:
```myimageplus.changes = true;```
in a few places, presumably in legacy, but I haven't dug around for the specific methods to modify.

[2016-05-16 17:11] hadim commented on #141
Seems to be related to #140.

By default sync between `ImagePlus` and `ImageDisplay` is not enabled. Maybe it explains the bugs we see...

[2016-05-26 03:16] ctrueden commented on #133
I switched to a new skin, and added the Recent changes link to the rightmost column's list of tools. I hope you like it!

[2016-05-26 03:16] #133 closed

[2016-05-26 04:46] tferr commented on #133
Looks Great! thanks!

[2016-06-18 23:02] kephale opened #142 "IJ2-based Particle Analyzer"
Particle analyzer is one of the more heavily used features of ImageJ. It should be ported to use IJ2 under the hood.

# What needs to happen

- [ ] Port [IJ1 Analyzer](https://github.com/imagej/imagej1/blob/ce491f23ca56a342576ee13455de60bf018b1015/ij/plugin/filter/ParticleAnalyzer.java)
- [ ] Port ROI manager

[2016-06-19 07:32] dietzc commented on #142
Hi @kepahle. Do you know the individual steps which are conducted using one of these plugins? aAs far as I understand  `Analyze Particles`  is more or less an concatenation of several individual steps, right? Maybe we are already pretty close.

[2016-06-20 07:12] stelfrich commented on #142
As far as I can tell (I have not looked into the code) those steps are involved:

1. CCA on binary image
2. Filter particles (while we are at it, we could make it use any feature for that?)
3. Measure features for the remaining partiles (using the _Set Measurements_ options)
4. Add particles to ROI Manager

The more complicated stuff is hiding in the _Set Measurements_ behavior..

[2016-06-20 08:16] dietzc commented on #142
So:

* [X] CCA on binary image
* [ ]  Filter particles (while we are at it, we could make it use any feature for that?)
** This one we already could do but we should implement a convenience method in ops which allows you to (a) calculate features and then (b) discard all regions which don't fulfill a certain condition based on the calculated features... @tibuch you think this is something which we

[2016-06-22 13:46] Meyenhofer opened #143 "RoiManager: Create Mask only takes one single ROI"
version: 1.51d

Steps:
1) Open an image
2) draw at least 2 ROI's and add each to the RoiManager
3) select all (shift click, since the select all button seems to have disappeared)
4) Edit > Selection > Create Mask

Here only the first roi will be put into the mask image, all the other roi's are ignored.
I seem to recall that this was not the case some time ago. It obviously makes sense to include a

[2016-06-22 14:40] ctrueden commented on #143
I tested with ImageJ 1.51d, 1.50i and 1.49v and they all have the same behavior: selecting multiple ROIs in the ROI Manager does _not_ create an OR-ed selection of those ROIs on the active image. Only one of the ROIs becomes the selection.

You can click the ROI Manager's More button and OR the selected ROIs, though, and then select that one to make it the selection on the active image. Then creat

[2016-06-22 14:40] #143 closed

[2016-06-29 11:19] kephale commented on #142
I have mixed feelings about interfacing an IJ2 Particle Analyzer with ROI Manager (which would presumably involve changing all of the Roi code in ROI Manager to operate on Imglib2-roi and that sounds a bit painful for that 2468 line beast). I'm not sure ROI Manager would be easy to salvage because there are quite a few IJ1 Roi method calls.

Does the ops map function work on ROIs? In Clojure we ha

[2016-06-29 14:16] stelfrich commented on #142
:+1: on the mixed feelings. I'll also add that it doesn't make too much sense to start with something new as long as the roles and implementations of ROIs / labelings / overlays in ImageJ2 is unclear.

[2016-06-29 14:22] ctrueden commented on #142
Note that ImageJ2 already has an "Overlay Manager" for working with IJ2-style ROIs. But that was before @tpietzsch redesigned the ROI data structures. Regardless, I do not think that manager should be integrated with an IJ2 particle analyzer workflow.

I also want to comment (reassure?) everyone that UI components of ImageJ 1.x will play no role in new functionality of IJ2. The _only_ way we ever

[2016-07-13 07:51] FiReTiTi opened #144 "Bug in AutoThresholder / Minimum algorithm?"
Hi,
I was looking into the AutoThresholder.Minimum method code, and I've noticed something that does not make sense, starting at the line 635:

	double [] tHisto = iHisto;
	while (!bimodalTest(iHisto) ) {
		//smooth with a 3 point running mean filter
		for (int i=1; i<255; i++)
			tHisto[i]= (iHisto[i-1] + iHisto[i] +iHisto[i+1])/3;
		tHisto[0] = (iHisto[0]+iHisto[1])/3; //0 outside
		tHisto[255]

[2016-07-13 08:11] imagejan commented on #144
This affects all of:
https://github.com/imagej/imagej1/blob/ce491f23ca56a342576ee13455de60bf018b1015/ij/process/AutoThresholder.java#L635

https://github.com/fiji/Auto_Threshold/blob/master/src/main/java/fiji/threshold/Auto_Threshold.java#L890

and

https://github.com/imagej/imagej-ops/blob/master/src/main/java/net/imagej/ops/threshold/minimum/ComputeMinimumThreshold.java#L92

Maybe @landinig and

[2016-07-13 08:25] FiReTiTi commented on #144
Thanks, I didn't investigate further than this method. And indeed, the issue seems to be the same. If I am right, then a simple fix would be:

    double[] tHisto = new double[iHisto.length] ; // Instead of double[] tHisto = iHisto ;

and

    System.arraycopy(tHisto, 0, iHisto, 0, iHisto.length) ; //Instead of iHisto = tHisto ;

[2016-07-13 09:09] rimadoma commented on #144
I didn't debug the code, but it seems to me the algorithm is performed "in place" to avoid creating another array. In the the while loop the last line is `iHisto = tHisto`, so on the next round the code will operate on the results of the previous round.

Example:
1st round
`iHisto = {0, 1, 2, 3}`
`tHisto = {0.34, 1, 2, 1.67}`
2nd round
`iHisto = {0.34, 1, 2, 1.67}`
`tHisto ={0.44, 1.111, 1.56, 1.2

[2016-07-13 09:20] FiReTiTi commented on #144
Unfortunately, it's not what is happening. `double [] tHisto = iHisto;` means that tHisto has the same pointer as iHisto, so they point exactly on the same array, so they share the same values.

Here is a little test I just made using 6 values from 0 to 5, and performing a single iteration. Obviously I displayed the values before `iHisto = tHisto;`, but it does not change anything according to wha

[2016-07-13 09:24] landinig commented on #144
Hi thanks for looking into this.
Shouldn't it be:
[code]
then in the loop as you say:
`System.arraycopy(tHisto, 0, iHisto, 0, iHisto.length) ; //Instead of iHisto = tHisto ;`

Now:
AuPbSn40.jpg Minimum: 127
blobs.gif Minimum: 124
boats.gif Minimum: 68
bridge.gif Minimum: 210
lena-std.tif Minimum: 74

Before:
AuPbSn40.jpg Minimum: 127
blobs.gif Minimum: 124
boats.gif  Minimum: 67 <-- different
brid

[2016-07-13 09:27] FiReTiTi commented on #144
@landinig: that's almost the solution I proposed few comments before.
Except that you don't need the first System.arraycopy (the one juste after tHisto declaration), because tHisto will be filled with the computed values, and it will be only read to fill iHisto.

[2016-07-13 09:31] FiReTiTi commented on #144
Btw, if we use `iHisto.lenght-1` (or `data.length-1`)instead of 255, then the code works also for ShortProcessor

[2016-07-13 09:40] landinig commented on #144
Actually that '255' is in the adapted version included in ImageJ, the original plugin (in my page) and the one in Fiji already support 16 bit.

[2016-07-13 09:48] FiReTiTi commented on #144
Ok, it would be great to upgrade that ImageJ code.
Could you please point me the FiJi source code for this class, I didn't find it in the git.

[2016-07-13 09:52] landinig commented on #144
Sure, it is:
https://github.com/fiji/Auto_Threshold/blob/master/src/main/java/fiji/threshold/Auto_Threshold.java

[2016-07-13 09:53] landinig commented on #144
Wait a minute before changing it, please I am checking something.

[2016-07-13 09:56] FiReTiTi commented on #144
Thanks for the link. And indeed, this issue seems to be the same on FiJi.
Btw, why is FiJi more advanced than ImageJ? At least for this type of details.

[2016-07-13 10:01] imagejan commented on #144
I linked to all three derivations of this code in my post above.

[2016-07-13 10:03] FiReTiTi commented on #144
@imagejan: thanks and sorry, I didn't notice that it also included the FiJi source code.

[2016-07-13 10:15] landinig commented on #144
It has to do with how the auto thresholds were incorporated into Fiji and IJ.
I ported a number of methods into the plugin existing in my page. This was added to Fiji and changed to support 16bits by Johannes.
At the same time Wayne included the methods in IJ, but the way IJ works on 16 bit images is different, so the code is ported, not identical.
If Wayne is not reading this, it might be an idea

[2016-07-13 16:45] landinig commented on #144
@FiReTiTi I already emailed Wayne about this. Do you want to push a commit to fix this in the Fiji repo? If not I can do it tomorrow.

[2016-07-13 17:05] FiReTiTi commented on #144
Ok, done for the two last links, but not for the first link ImageJ (https://github.com/imagej/imagej1/blob/ce491f23ca56a342576ee13455de60bf018b1015/ij/process/AutoThresholder.java#L635).

[2016-07-13 19:14] landinig commented on #144
OK, let's ask @imagejan or @ctrueden if they kindly help:
@FiReTiTi  has forked the code and fixed it. How does the commit get sent to the master?
https://github.com/FiReTiTi/Auto_Threshold/commit/6c2083b9c21897601027717493fca40bd2fc132d

[2016-07-14 08:57] landinig commented on #144
@FiReTiTi I remember it now, @imagejan mentioned it recently: Open a pull request.
https://help.github.com/articles/creating-a-pull-request/
Go to the Pull request tab and create a new one.

[2016-07-14 16:05] FiReTiTi commented on #144
@landinig : everything I could change should be pushed now.
Thanks for your help.

[2016-07-14 16:11] landinig commented on #144
@FiReTiTi  Thank you for spotting it an fixing it. I added a little comment in the header thanking you too.

[2016-07-15 12:46] imagejan commented on #144
All three code location have been fixed:
ImageJ1: https://github.com/imagej/imagej1/commit/031cbd239c89d5acb9038db86f3d1953a9604048
Fiji: https://github.com/fiji/Auto_Threshold/pull/6
ImageJ-Ops: https://github.com/imagej/imagej-ops/pull/423

Closing this now.

[2016-07-15 12:46] #144 closed

[2016-07-28 18:25] ManuelJuette opened #145 "ImageJ2 Options dialog can be opened more than once"
The dialog found under "Edit -> Options -> ImageJ2..." is not modal and can be opened multiple times. The option "Use SCIFIO when opening files (BETA!)" can be simultaneously checked and unchecked across the resulting instances.

[2016-07-28 18:34] ctrueden commented on #145
The non-modal behavior is intentional. See: d21144345f72f8d8ac890e50105738b96b47e4d3

However, we should probably make it so that if you run the command a second time, it simply brings the existing window to the foreground. The SciJava UI framework currently does not have a facility for that style of dialog, but it could be added. I will leave this issue open as a reminder.

[2016-07-28 18:47] ctrueden commented on #105
To make Java work in the Script Editor out of the box with Java 8, I removed `tools` and `javac` JAR files from the core update sites. See https://github.com/fiji/fiji/issues/119#issuecomment-234063994

I am leaving this issue open until we can thoroughly review the status of _all_ the bullet points above, though.

[2016-07-29 13:58] rpbrookes opened #146 "Installation Instructions"
Hi,

I'm trying to pull down the latest ImageJ in both IntelliJ and NetBeans using the instructions here: http://imagej.net/Developing_ImageJ_in_IntelliJ_IDEA

But to no avail.

When I try to run it, there are errors with the Maven repositories and Java versions.

Please can you provide more robust instructions on the links, including new names for any changed Maven dependencies.

Thanks,

Ryan

[2016-07-29 14:19] ctrueden commented on #146
There are several developers in the community who (to my knowledge) use these directions successfully in both NetBeans and IntelliJ. So please be more specific about the errors you are seeing. Then we can troubleshoot what is going wrong, and update the instructions as needed.

[2016-07-29 14:30] rpbrookes commented on #146
Hi Curtis,

Thanks for getting back - the following dependencies were stopping ImageJ from running: net.imagej.ui.awt.AWTRenderingService and the ui.pivot.

After using alt-enter to add the dependencies to the Maven POM, the issue was fixed.

Not a serious issue, but I wanted to let you know that the POM just needed a minor tweak on my system before it would run.

Ryan

[2016-07-29 14:34] ctrueden commented on #146
@rpbrookes Thanks for the additional information!

However, `net.imagej.ui.awt.AWTRenderingService` is a class, not a dependency. Do you know the GAV (groupId/artifactId/version) of the dependency/ies which caused you trouble?

Probably the relevant ones are `net.imagej:imagej-ui-awt` and `net.imagej:imagej-ui-pivot`? Note that these dependencies are only declared in a profile, which should be ina

[2016-08-06 12:44] yeqibin opened #147 "How to add CJK characters on image?"
Adding CJK characters is not supported in ImageJ. Is there a way to do that?

[2016-08-06 14:07] imagejan commented on #147
The following IJ1 macro works for me:
[code]

What doesn't seem to work is directly typing or pasting CJK symbols into text selections. I suggest contacting `@Wayne` on the [forum](http://forum.imagej.net/) regarding this.

[2016-08-08 02:58] yeqibin commented on #147
It works. Thank!

[2016-08-08 02:58] #147 closed

[2016-08-19 17:01] ctrueden commented on #146
Since it seems like all is well, I am closing this issue. Please feel welcome to reopen if you continue to have trouble.

[2016-08-30 15:01] haesleinhuepf opened #148 ""result" window opening after executing macro"
Hey guys,

since the last update, I have the issue that a "results" window opens whenever I run a macro. The macro can be as simple as "i = 5;". When I run it, a window opens which has "result" as title and -17974594 as content. If I execute the macro "result = 5;" then a window opens with 5 as content.

If I run a Jython script "result = 5", I get the error message "[WARNING] Ignoring unsupported

[2016-08-30 15:20] ctrueden commented on #148
Thanks for the report, @haesleinhuepf. These are definitely bugs. Sorry I did not test more thoroughly. The good news is I know what the problems are, and I am working on fixing them now.

[2016-08-31 21:03] #148 closed

[2016-09-01 00:38] ctrueden commented on #148
I pushed some fixes. Notes:

* If your script has no declared outputs, then it implicitly has one output named `result` which equals the return value of your script (or null if none).
* Null outputs are not displayed, nor is any warning issued regarding them. (This was true before these fixes—but it is important for understanding the behavior of scripts overall.)
* The IJ1 macro language only supp

[2016-09-01 02:45] ctrueden commented on #148
I will cut new component releases tomorrow, and upload them to the Java-8 update site.

[2016-09-01 06:44] haesleinhuepf commented on #148
Cool. Thank you very much for fixing and thanks for the explanation!

[2016-09-02 16:35] ctrueden commented on #148
I delayed cutting releases by one day because I decided to address the `Ignoring unsupported output` warnings. It was ridiculous that the framework had no plugins to display numeric or boolean results. So I am coding a new thing that does it. Almost ready...

[2016-09-02 20:56] ctrueden commented on #148
Everything is released and uploaded!

There is now a snazzy new aggregated table which pops up when you have simple outputs (numbers, booleans, and/or text):

![stuff-script](https://cloud.githubusercontent.com/assets/556626/18218007/9bb1c212-7125-11e6-8e21-4028d5849455.png)
![stuff-output](https://cloud.githubusercontent.com/assets/556626/18218010/9e4cc3b4-7125-11e6-8bfd-3c8e939177fa.png)

There

[2016-09-13 15:16] alexandrebastien commented on #72
I'm just curious, does anybody have made an installer yet ? I'm managing a small microscopy core facility and I try to push most of my users to use Fiji for their analysis on their personnal computer, but having no installer refrain some of them.

[2016-09-21 21:29] ctrueden commented on #72
@alexandrebastien No installer yet, sorry. The switch of the ImageJ Launcher over to JavaFX is on my top 10 list of development priorities. But unfortunately probably just outside the top 5. So I expect it will be a few more months.

[2016-10-13 13:39] krami79 opened #149 "Missing NullCheck in PlotWindow.java line 720"
I just stumbled across this error message when closing a live PlotWindow in ImageJ 1.51g

[code]

I am not an ImageJ dev, but this new line should do the trick:
[code]

[2016-10-13 14:00] imagejan commented on #149
All the `ij.*` classes are part of https://github.com/imagej/imagej1/, but maybe @rasband reads it here, too?

[2016-10-13 14:12] krami79 commented on #149
thanks for pointing that out I recreated the issue at ImageJ1. can be closed here

[2016-10-13 14:14] #149 closed

[2016-10-13 14:46] ctrueden commented on #149
Thanks @krami79. For proper cross-referencing: the new issue is imagej/imagej1#24.

[2016-10-31 16:45] effepivi opened #150 "Image Calculator, substract when first image is displayed using an inverted LUT"
If I have two images, I1 and I2,
and if I1(x,y)=255,
and if I1 is displayed with an inverted LUT, then
I1-I2=I2.

My understanding is that the LUT is only for the visualisation and should not affect the calculation. The result is shown using an inverted LUT, which might be confusing.

[2016-11-02 01:30] ctrueden commented on #150
@rasband Any thoughts?

[2016-11-02 03:25] rasband commented on #150
The following test macro works as expected. The output image is not the same as the second image ("i2").

  run("Close All");
  newImage("i1", "8-bit white", 512, 512, 1);
  run("Invert LUT");
  newImage("i2", "8-bit black", 512, 512, 1);
  run("Add...", "value=100");
  imageCalculator("Subtract create", "i1","i2");

[2016-11-02 09:40] effepivi commented on #150
Thanks for your replies. Maybe I should not have posted it as a bug, as it might be more a question/comment (I am new to github).

Below is what I did. The numerical values of the computed image are fine, but it is displayed using an inverted LUT. Is it intended that the resulting image inherits of the LUT of the left operand in Image Calculator?
Using the various operations of Image Calculator th

[2016-11-02 12:31] imagejan commented on #150
Indeed, a more appropriate place for this might be the [ImageJ forum](http://forum.imagej.net/).

Alright. Your original comment suggested something different.

Well, the resulting image has to have _some_ LUT, right? And in many cases, inheriting from the first operand is simply the best guess (i.e. following the principle of least surprise). I don't see why e.g. the `Grays` LUT should have any p

[2016-11-02 12:31] #150 closed

[2016-11-04 02:35] dev-slash-null commented on #32
On a two-monitor setup (linux system), ImageJ exhibits a preferred monitor (apparently the first active monitor listed in xrandr). Windows cannot be resized to be larger than the primary monitor. Any maximized window is resized according to the dimensions of the primary monitor and displayed there (maximized windows cannot be displayed on secondary monitors). In contrast, applications relying on t

[2016-11-15 14:36] sty1o1993 opened #151 "Custom ROI set density faliure"
When creating a custom ROI area after doing that automatically and measuring density, in different gels i get the same results while spots have the different density at visual evaluation. What can be solution for that?

[2016-12-02 12:24] ctrueden opened #152 "Update, improve and automate the Chocolatey packages"
The [Chocolatey packages for ImageJ](https://github.com/imagej/chocolatey-packages) provide only [ImageJ 1.x](http://imagej.net/ImageJ1), and have not been updated in awhile. Would be great to update them to use [ImageJ2](http://imagej.net/ImageJ2), and then automate their deployment using a Jenkins job.

[2016-12-05 08:15] srikanthbojja opened #153 "Updating Jython to version 2.6"
Jython version shipped with current IJ is
`2.5.3 (2.5:c56500f08d34+, Aug 13 2012, 14:54:35)
[Java HotSpot(TM) 64-Bit Server VM (Oracle Corporation)]
`
is it possible to upgrade the jython to 2.6?

[2016-12-05 14:56] imagejan commented on #153
The 0.4.0 version of the [`scripting-jython`](https://github.com/scijava/scripting-jython) repo already depends on [`jython-shaded 2.7.0`](https://github.com/scijava/jython-shaded), so I guess it is just a matter of uploading the artifacts to the Java-8 update site.

I don't recall if there were any issues with Fiji installations on Java 6 that were blocking this. @ctrueden any comments?

I can te

[2016-12-05 14:59] srikanthbojja commented on #153
Great. If there are no issues, please push the update.

[2016-12-05 15:22] imagejan commented on #153
@srikanthbojja you can already use and test the newer version by downloading these artifacts from the maven repository:

* http://maven.imagej.net/service/local/repositories/central/content/org/scijava/jython-shaded/2.7.0/jython-shaded-2.7.0.jar
* http://maven.imagej.net/service/local/repositories/releases/content/org/scijava/scripting-jython/0.4.0/scripting-jython-0.4.0.jar

dropping them into yo

[2016-12-05 15:43] ctrueden commented on #153
We did recently migrate from 2.5.3 to 2.7.0 of Jython, but there are some niggling issues with the dependency tree which result in Fiji selecting 2.5.3. If you look at the dependency tree of this repository (`imagej/imagej`), actually Jython 2.7.0 _is_ selected. But for `fiji/fiji` it is not. Unfortunately, I do not have time to fix immediately, but I will work on resolving it at the end of this m

[2016-12-05 15:56] srikanthbojja commented on #153
@ctrueden I am using Fiji and shall wait for the fix.

[2016-12-14 20:45] renesayshi opened #154 "Inconsistent B&C behavior across Z-project functions"
Hi! I hope someone can help; there must at least be an easy workaround for my problem.
Sample data is X/Y and time, 520 slices. I want to generate projections of 20 slices from different intervals. A "grouped Z project" generates projections of the correct intensity but wrong intervals; a "Z project" generates correct intervals with wrong (auto-adjusted) intensities.
Sample data: https://www.dropb

[2016-12-15 11:08] ctrueden commented on #154
This is an ImageJ1 question. @rasband Thoughts?

[2016-12-15 16:18] rasband commented on #154
Grouped Z Project "Sum Slices" appears to not work very well with 8-bit stacks. You can work around the problem by converting the stack to 16-bits before running Grouped Z Project.

[2016-12-15 16:18] #154 closed

[2016-12-15 18:28] rasband commented on #154
Grouped Z Project "Sum Slices" does work as expected with 8-bit stacks, as it generates a 32-bit stack. I had mistakenly used "Average Intensity", which generates an 8-bit stack. It is expected that the display ranges in the two scenario will be different except for the first group. The display range resulting from using the Z Project command on slices 155-174 is based on the pixel value range of

[2016-12-16 23:40] renesayshi commented on #154
Thank you for your explanations! I think that my confusion arose because the 16-bit original (actually a 12-bit original) was converted to a 32-bit projection. The original was of acceptable quality when displaying the entire 16-bit range, the 32-bit is not; so it is good that ImageJ adjusts the display range for the result, be it a single image or a stack, but this led to my confusion.

[2016-12-19 19:17] ctrueden opened #155 "Make ImageJ2 run successfully with Java 9"
Attempting to launch ImageJ2, either with or without the Fiji extensions, does not work with a recent Java 9 prerelease.

First of all, the Launcher adds some JVM arguments which are no longer supported by Java 9. Removing those arguments from the launch command results in something like this:
[code]

But then there are errors relating to the IJ1 class patching (ij1-patcher and imagej-legacy).
[co

[2017-01-11 17:51] willisaliou opened #156 "handling of multiple screens"
I have been connecting 2 other screens with my laptop in using fiji at home. Now with only the laptop at work, I cannot retrieve some panels, i.e. the window remain in the other screen. How do I move it back to the main one ? please help.

[2017-01-11 18:00] ctrueden commented on #156
Thanks for the report, @willisaliou. ImageJ's handling of multiple screens is definitely imperfect. In the past, I have seen it suggested to try reorganizing your screens so that a different one is considered primary, and/or they are in a different spatial configuration. Such a workaround is certainly not ideal, but it might help avoid the issue you are seeing.

If you could describe your screen c

[2017-01-19 17:52] salimkanoun opened #157 "Bug in Macro editor"
I raised the bug here and it was confirmed by an user : http://forum.imagej.net/t/small-bugs-in-macro-editor/3688

When I write a code :
- The first save generate a file without extension were the last character of the specified file name is spitted
- The language syntax is lost just after the save process, so you have to re-specify the language you were writing your code to do a new save to get t

[2017-02-02 01:12] rogersachan opened #158 "What is the difference between this and the NIH version?"

[2017-02-02 01:26] dietzc commented on #158
Hi @rogersachan,

please find more information here:

* https://imagej.net/ImageJ2
* https://arxiv.org/abs/1701.05940
* Readme of https://github.com/imagej/imagej

Hope that helps,

Christian

[2017-02-02 01:43] rogersachan commented on #158
This only describes the program, not the difference between this and the one on https://imagej.nih.gov/ij/

On Wed, Feb 1, 2017 at 8:26 PM -0500, "Christian Dietz" <notifications@github.com> wrote:

Hi @rogersachan,

please find more information here:

https://imagej.net/ImageJ2
https://arxiv.org/abs/1701.05940
Readme of https://github.com/imagej/imagej

Hope that helps,

Christian

—
You are rece

[2017-02-02 08:34] imagejan commented on #158
@rogersachan maybe this overview helps: http://imagej.net/ImageJ#Flavors

In short, the NIH ImageJ 1.x is mirrored in https://github.com/imagej/imagej1/ and transformed in a maven-compatible way here: https://github.com/imagej/ImageJA/. The Fiji distribution bundles both ImageJ1.x and ImageJ2 (i.e. this here repository).

If you were missing this information on the [wiki](http://imagej.net/ImageJ)

[2017-02-02 08:34] #158 closed

[2017-02-19 18:04] rogersachan commented on #155
@ctrueden See the [Java 9 migration guide](https://docs.oracle.com/javase/9/migrate/toc.htm#JSMIG-GUID-7744EF96-5899-4FB2-B34E-86D49B2E89B6) by Oracle.

[2017-02-23 20:31] lune3141 opened #159 "Unable to use ITCN_Runner through javascript (Possible Bug in the Plugin .jar file)"
Hi Everyone,

I am trying to use the ITCN plugin for counting the number of nuclie in my image using javascripts. My old (ImageJ 1.49xx) javascript no longer works because everything is set to Java 8 conventions for ImageJ1.51xx.

 example code:-

      //importing the requisite packages
      importClass(Packages.ij.ImagePlus);
      importClass(Packages.ITCN_Runner);

      var filename = 'Path/

[2017-02-23 21:17] ctrueden commented on #159
You could either:

1) Recompile `ITCN_Runner` to have a public constructor; or:

2) Use Java reflection to create the runner. Something like:

[code]
But the exact syntax for JavaScript probably differs slightly.

Either way, this is not an issue with ImageJ directly, so I'm closing this issue.

[2017-02-23 21:17] #159 closed

[2017-02-23 22:11] ctrueden commented on #155
@rogersachan Thanks. However, I saw no mention of the `-javaagent` flag in that guide. From jboss-javassist/javassist@6a3ed31976e54f2523a6e41dfee9001b3cce58c8, I infer that: 1) Java 9 prerelease builds are still changing enough that Javassist needs modification to keep pace; and 2) you must now pass special flags to the JVM in order to allow Javassist to do its thing.

I think I will wait till Jav

[2017-03-15 09:08] haesleinhuepf opened #160 "Fresh downloaded Fiji does not startup on Windows7 x64"
Hey guys,

I just downloaded a fresh Fiji. When starting it, it closes after some seconds. When running it as debug.exe, it says
[code]
May there be a quick solution available - like jumping back to a former version of the installer? Just to make the downloaded Fiji work again until this bug is fixed?

Cheers,
Robert

[2017-03-17 13:30] teknowledgist commented on #72
Please do not configure something that makes a program directory under a protected folder like C:\Program Files "globally writable by all users".  That is a non-standard design and goes against all security recommendations.  Users should only have modification rights within their own profile or (occasionally) in shared spaces (like some subdirectories of C:\ProgramData).

There is a better approac

[2017-03-17 13:37] teknowledgist opened #161 "(Windows) command-line updater has no feedback"
The documentation for command-line updating claims there are a number of options for getting/setting information related to updating, but most of those don't work, or at least don't provide feedback.  Anyone using the command line is probably OK without GUI feedback, but there should be something returned in the cmd window/console.

For example, `ImageJ-win64.exe --update list-update-sites` will b

[2017-03-17 14:52] ctrueden commented on #72
Windows users sometimes complain about how weird/unintuitive it is that ImageJ cannot function properly out of Program Files like "normal" applications do—and I am inclined to agree. As long as users keep unpacking ImageJ and dumping it into `C:\Program Files`, we need to be as friendly/nice as possible. Right now, you at least get a warning about being unable to update from a "protected location"

[2017-03-17 15:11] ctrueden commented on #161
Yes, there is a general Windows-specific problem with Java output the console, for Java processes launched via the ImageJ launcher. Try passing the `--console` flag in addition, and see if that makes a difference. I am sorry that this flag is necessary; I think it is related to the fact that Windows has different styles of process for console vs GUI (which is also why there are both `java.exe` and

[2017-03-17 15:47] ctrueden opened #162 "Make it easy/possible to package ImageJ2 for Gentoo Linux"
Right now, ImageJ 1.x is packaged for Gentoo as part of the [Gentoo Science packages](https://github.com/gentoo-science/sci). It would be great to update this to ImageJ2 instead. However, we need to tackle general problems with packaging modular Maven-based projects into Gentoo.

[2017-03-17 16:00] mmokrejs commented on #162
I posted several links to https://github.com/charite/jannovar/issues/218 somewhat summarizing the issues and included more pointers.

[2017-03-17 16:09] ctrueden commented on #162
Thanks @mmokrejs. It is a shame to see different Maven-based projects tackling these issues in different—and all apparently very hacky—ways. I really think that in actuality, Maven is a huge boon for Gentoo source builds, because Maven builds are structured very homogeneously. Like I implied on that imagej1 thread, I bet we could create a very general system which fetches Maven dependencies recurs

[2017-03-17 16:38] mmokrejs commented on #162
Gentoo prefers as small as possible packages. If they need some 3rd-party libs then those should be in a separate package, which the application can depend on. That means from a very quick glance that ImageJ2 we would need to create separate packages for ImgLib2, SCIFIO, scijava.

The deemed package for ImageJ2 would unpacks a single tar.gz files, delete recursively ./ImgLib2 ./SCIFIO ./scijava, e

[2017-03-17 16:44] ctrueden commented on #162
Indeed, that is exactly what I am proposing with my scheme: one package per JAR file. A lot of packages, yes, but small ones, the way Gentoo likes. :smile:

Hmm, there should be no `.tar.gz` files involved nor even created anywhere in the build process I outlined.

I propose to make it a transparent part of the build process. How does Gentoo handle "regular" (non-Java) build dependencies? E.g., if

[2017-03-17 17:07] mmokrejs commented on #162
Well I meant that you fetch a source code *once*, unpack it, configure it, compile it, install it. These files *are* "cached", so repeated attempts to "install" the package do not start with yet another download of the tar,gz file but with just unpacking it from /usr/portage/distfiles/$package-$version.tar.gz. ;)

There are at least 3 levels, for compiel-time-only deps, runtime-only deps, mix of b

[2017-03-17 17:10] mmokrejs commented on #162
Yes. And "we" do not want to have have installed 10x same jfreechart*.jar on the system. The only problem is that "we need to figure out what version of say jfreechart we must depend on.

https://cgit.gentoo.org/repo/gentoo.git/tree/dev-java

[2017-03-17 17:42] ctrueden commented on #162
This is another reason Maven is great. The JARs always retain that version information, both inside the JAR's metadata (in `META-INF/maven/pom.xml`) as well as in the filename itself's version suffix.

[2017-03-17 17:56] ctrueden commented on #162
Is it possible for that fetch step to be `git clone git://github.com/... --depth 1` instead of curling a tarball and unpacking it? All of the SciJava projects could be done recursively via git clones that way...

Oh, that is fantastic! It means that for each build, we can unpack all already-built Java packages (i.e. JAR files) into a newly synthesized Maven local repository cache! And then when we

[2017-03-17 18:12] teknowledgist commented on #72
Absolutely!  I didn't know this was an option.

_I'm going to expose my ignorance here..._ My understanding (based on trying to find what version I would be downloading) is/was that ImageJ/Fiji was so much a collection of smaller pieces that there was no base program to "versionize".  Thus there was no real means of a machine installation and occasional "managed" upgrades by admins (i.e. deploymen

[2017-03-17 18:15] mmokrejs commented on #162
No, "shallow" git checkout were recently made impossible, something did not work well. Whole tree must be checked out recursively. However, live ebuild must have version number -9999 and are never exposed to ordinary users. A git/svn/cvs snapshot (hence tar.gz as usually) is preferred.

Sorry, I was unclear. I meant that source.tar.gz can be repeatedly unpacked. The already-built Java packages are

[2017-03-17 18:21] teknowledgist commented on #161
the `--console` option does provide some feedback on the examples I gave, but the cmd window also appears to freeze (at the end?) requiring a `<ctrl>-C` to return to a prompt.  As I [imply in another issue](https://github.com/imagej/imagej/issues/72#issuecomment-287431206), I would like to be able to log headless updates, so a hang is a problem.

I know next-to-nothing about Java or C (#, ++?) cod

[2017-03-17 18:25] ctrueden commented on #161
Glad to hear that `--console` gives the feedback you desire. I am closing this in favor of the already-existing imagej/imagej-launcher#29, which discusses the general crappiness of `--console` and how it should ideally be made less crappy.

[2017-03-17 18:25] #161 closed

[2017-03-17 18:29] ctrueden commented on #161
@teknowledgist One workaround might be to run the launcher with `--dry-run` once, to get the actual invocation used (really, an approximation thereof, but close enough for your purposes). Then you can invoke java with that invocation, and likely capture the output of the process successfully.

[2017-03-17 18:47] ctrueden commented on #72
There is a base program: the one in this here repository. The artifact is `net.imagej:imagej` and its version is currently `2.0.0-rc-59`. (Actually, it is ridiculous that they are "RC", and that we are on candidate _59_, when really they should still be `beta` or even `alpha`. Or maybe we should just bite the bullet and call it `2.0.0` and start with the SemVer properly...) This version is the one

[2017-03-17 18:55] ctrueden commented on #162
OK, I think that is also just fine. Or a deep clone of a tag? Because those are always present when you make releases via the maven-release-plugin. I am confident there is a workable way forward that is not painful.

That is even better. The needed local Maven repo cache could then be synthesized for each component simply by symlinking the already-unpacked JAR files to its expected local structure

[2017-03-17 20:42] mmokrejs commented on #162
Sure, that is used often. Suich packages get get "stabilized" so that normal users can install them. But, it is not very welcomed because for obtaining the package user would have to install git/svn/cvs client. Therefore, a git/svn/cvs checkout, packed into a tar.gz is much more preferred. For example https://cgit.gentoo.org/proj/sci.git/tree/sci-biology/subread/subread-1.4.6.ebuild .

Yes.

`"${E

[2017-03-17 20:49] mmokrejs commented on #162
Maybe @chewi would like to join the discussion on behalf of [Gentoo java herd](https://wiki.gentoo.org/wiki/Project:Java)?

[2017-03-17 20:58] mmokrejs commented on #162
For examples where I overcame some of the issues see the Github issues and releavant ebuild files:

https://github.com/charite/jannovar/issues/218
https://github.com/broadinstitute/picard/issues/693

[2017-03-17 21:09] teknowledgist commented on #72
I'll poke at some things.

I would really like to make an automatic package.  That would allow for very easy updates to the package as ImageJ2/Fiji is/are updated.  As noted in your [initial steps into a Chocolatey package](https://github.com/imagej/chocolatey-packages), there are a couple things I would need though:

* a URL for a page that I can parse for the current version (and download link).

[2017-03-20 18:35] ctrueden commented on #72
Agreed 100%. We want the process to be fully automated.

Just want to clarify that it is @AnthonyMastrean who deserves the credit for what has been done so far. I have not had time to move things forward any further yet.

http://maven.imagej.net/content/groups/public/net/imagej/imagej/maven-metadata.xml

`<metadata>` ➡️  `<versioning>` ➡️  `<release>`

There are no release notes, sorry. I still ha

[2017-03-21 08:19] stelfrich commented on #126
All links are reachable for [Dataset](http://javadoc.imagej.net/ImageJ/net/imagej/Dataset.html), [ConvertIntArrayToFinalInterval]( https://javadoc.imagej.net/ImageJ/net/imagej/convert/ConvertIntArrayToFinalInterval.html), [AbstractFFTFilterF](https://javadoc.imagej.net/ImageJ/net/imagej/ops/filter/AbstractFFTFilterF.html) (randomly picked some pages..).

Check availability of pages that are linked

[2017-03-21 08:19] #126 closed

[2017-03-21 20:56] teknowledgist commented on #72
I think it is friendlier to identify the currently downloading version on the [front-end, "normal-user", Downloads page](http://imagej.net/Fiji/Downloads), but the Maven repository is suitable for automatic Chocolatey package update needs.

However, in testing, I'm a bit confused...

If I download what is offered on the download page, I would expect that to be the latest release.  However, if I ru

[2017-03-22 15:39] ctrueden commented on #72
I am not sure what you mean by "friendlier". That Downloads page will not be updated every time a new release is cut; it simply links to an auto-generated archive the newest available version.

It was. But not for the past 3 months. [This job](http://jenkins.imagej.net/job/Stable-Fiji/), which updates those archives, has been offline since we took down our Windows now. And it cannot be brought bac

[2017-03-22 18:47] teknowledgist commented on #72
I know.  I was suggesting that the average Joe might want to be able to see what the current release is, and it would be really helpful for them if the download page *was* updated each time there is a release.  For example, the download table header could read "**Download Fiji v2.0.0-rc-59 for your OS**".

In testing, it looks like the `NoJRE` download is the most recent though.  Is there a drawba

[2017-03-22 20:22] ctrueden commented on #72
Argh. [This Jenkins job](http://jenkins.imagej.net/job/ImageJ1-sync-with-notes/) is supposed to notice when [the ImageJ 1.x release notes](https://imagej.nih.gov/ij/notes.html) are updated. When then generates a commit in [this clean ImageJ 1.x repository](https://github.com/imagej/ImageJA), which then triggers a deploy to the Maven repository via [this job](http://jenkins.imagej.net/job/ImageJ1-d

[2017-03-22 21:19] teknowledgist commented on #72
Ignorant question from a non-user:  Why not offer a "clean" ImageJ2 that isn't bogged down with ImageJ1?  What is the percentage of plugins/scripts that 1) rely on v1, 2) are used, 3) can't be rewritten/forked themselves, and 4) are on systems that also need v2 features?

Regarding the theoretical install of the Fiji update site:  Is there any way to add/define a site when ImageJ isn't running so

[2017-03-23 14:26] ctrueden commented on #72
So, the `net.imagej:imagej` artifact actually declares `net.imagej:imagej-legacy` as _optional_, which means that if you add a dependency on `net.imagej:imagej`, you actually do not inherit ImageJ 1.x by default. You have to add it explicitly.

Alternately, you can also get a "clean" ImageJ2 by deleting/moving `imagej-legacy`, `ij1-patcher` and `ij` out of the `jars` folder of your installation.

[2017-03-23 20:01] teknowledgist commented on #72
So, I'm toying with starting from vanilla ImageJ2 and adding the Fiji and Java-8 update sites after and seeing a few sticking points off the bat...

* The download for the "*all platforms* version of ImageJ" is apparently the 20160205 version.
* Unpacking and running with `--update update` doesn't appear to do anything but replace the launchers and ImageJ1 jar.
* Starting ImageJ gui, the version i

[2017-03-24 09:07] imagejan commented on #72
I'll try to chime in with some answers on this one:

This is because currently all new updates for ImageJ *and* Fiji are shipped via the Java-8 update site, as explained by @ctrueden above. It will change once the transition to Java 8 is completed.

As far as I can see, a newly added site should be active by default (see [this line](https://github.com/imagej/imagej-updater/blob/f20feb1d371be5107b5

[2017-03-24 12:17] teknowledgist commented on #72
Ah!  Sorry, I didn't really understand.  Does that mean that not only will ImageJ not update without the Java-8 site, but adding the Java-8 site will (partially?) install the Fiji components too?  IOW, currently, there is no way to have a fully updated vanilla ImageJ2?

OK, but does a site need to be added when it already exists in the list but just isn't enabled?  I think of adding as maybe telli

[2017-03-24 12:28] ctrueden commented on #72
Yes, unfortunately.

Well, you can build a vanilla ImageJ2 from the latest version using Maven. It will not match what is on the update sites. The goal is to unify these two mechanisms in the future, such that the Maven dependencies declared for a given version of ImageJ match what is uploaded to the core ImageJ update site, always.

IIRC, unfortunately, yes. There is no way via the CLI to simply

[2017-03-24 16:13] teknowledgist commented on #72
A couple more questions about the updater... (I promise to stop soon.)

The <upload-directory> in the `add-update-site` option is the location of the local components, or a location on the remote site?

If it defines a local path for components, can it use variables to allow for a system-install with plugins going into user-space?

[2017-03-24 16:31] ctrueden commented on #72
First argument is the update site name, second is the update site URL. [Here](https://github.com/fiji/fiji/blob/ed6513b6ba1a42c7ded51959bdbc57fcab1c8c74/bin/upload-update-site.sh#L71) is an example of use.

You might also want to look at the [bootstrap.js](https://imagej.net/Updater#Bootstrapping_the_updater) approach. While we will not continue to do things this way forever, it is currently how s

[2017-03-24 17:54] teknowledgist commented on #72
Doh!  Part of my question disappeared.  I edited the post to correct it.  I was referring to one of the optional arguments.

I just found [this other issue](https://github.com/imagej/imagej/issues/152), so I'm going to move this discussion over there.

[2017-03-24 17:54] teknowledgist commented on #152
After all the back and forth in the ["Create a Windows Installer" thread](https://github.com/imagej/imagej/issues/72), I think you are correct.  If the Java-8 site is removed/un-enabled from the default Fiji download, then there should be nothing to worry about.

My thinking at this point is to "install" Fiji to a protected (but not %Program Files%) location and establish a scheduled task to headl

[2017-03-28 19:33] teknowledgist commented on #152
I'm hitting a bit of an obstacle setting up a schedule task to update Fiji.

* I can create a scheduled task and update as the logged in an admin.
* I can update from in a cmd window run as SYSTEM.
* I cannot get a scheduled task running as SYSTEM to complete an update.
    * I see the ImageJ-Win64.exe process fire up, but it uses uses 0% of resources for 1 minute and closes.
    * I do NOT see Ja

[2017-03-28 19:36] teknowledgist commented on #152
Just for reference, if I do `imagej-win64.exe --update update --console --dry-run` I get:

[code]

I have no understanding of what is necessary and what is not to perform an update via a direct java call.

[2017-03-28 20:13] imagejan commented on #152
Did you try to run the `javaw` command that `--dry-run` is returning? And does that run and update well when run from a cmd window, but not as a scheduled task?

[2017-03-29 13:05] teknowledgist commented on #152
I had not, but I should have.  Sorry.  It does work.

I discovered that when run from the task scheduler, the SYSTEM account does not have Java in the path (although it does if I open a cmd window as SYSTEM in my session).  I need to play around with the best method of finding (rather than assuming) the path to javaw.exe.

Question:  I will need the path to javaw.exe either way, but considering po

[2017-03-29 14:14] imagejan commented on #152
I think not. You can probably omit the memory-related switches `-Xmx3072m -Xincgc -XX:PermSize=128m`, the log level `-Dscijava.log.level=info` and likely some more, depending on the required classpath for the updater... (all just guesses).

I think only @ctrueden can answer this.

[2017-03-29 17:20] teknowledgist commented on #152
Let's say a user installs Fiji via Chocolatey.  Later, if Fiji updates itself, Chocolatey won't know about the newer version.  This can get messy if an admin user still later decides to use Chocolatey to upgrade Fiji.  The "default" method will overwrite the existing Fiji install even if the versions are the same.  (Theoretically, the updated Fiji could be newer than the public, Chocolatey package

[2017-03-30 20:47] teknowledgist commented on #152
Is there a way to stop ImageJ/Fiji from opening the
[code]
message when an unprivileged user starts it up?  I would guess that is equivalent to asking if the update check on start can be turned off.

[2017-03-31 09:09] imagejan commented on #152
Users can choose to never be reminded for updates, and the setting is checked here:

https://github.com/imagej/imagej-updater/blob/660eb43ade5e3fa67699170e52eb498abadd5bb8/src/main/java/net/imagej/updater/UpToDate.java#L137-L145

And there's also an option `UPDATES_MANAGED_DIFFERENTLY`:

https://github.com/imagej/imagej-updater/blob/660eb43ade5e3fa67699170e52eb498abadd5bb8/src/main/java/net/imagej

[2017-03-31 12:19] teknowledgist commented on #152
Unfortunately, I'm not smart enough to translate the code you pointed out into a practical method to configure anything that prevents the update check.  :confused:

[2017-04-05 12:06] omaraa opened #163 "OptionsPlugins cannot be opened a second time after accepting or cancelling"
To reproduce:
1. Open the OptionsLookAndFeel plugin (Edit >> Options >> Look and Feel...)
2. Press Cancel
3. Open the OptionsLookAndFeel plugin a second time
 - Plugin does not open and IJ status bar shows message "Command cancelled: Look and Feel..."

This issue affects all plugins extending OptionsPlugin.

[2017-04-05 13:56] imagejan commented on #163
This is a scijava-commons issue and likely due to the `cancelReason` not being reset on subsequent runs of a `org.scijava.command.DynamicCommand`, see [these lines](https://github.com/scijava/scijava-common/blob/608831075023f9ddf053691a82c2be24458f337c/src/main/java/org/scijava/command/DynamicCommand.java#L125-L140).

[2017-04-05 14:06] ctrueden commented on #163
Thanks for the report, @omaraa. I confirm this bug occurs with the latest ImageJ, 2.0.0-rc-59.

[2017-04-05 14:08] ctrueden commented on #163
@imagejan Right, because [`OptionsPlugin` extends `DynamicCommand` and implements `SingletonPlugin`](https://github.com/scijava/scijava-common/blob/scijava-common-2.62.1/src/main/java/org/scijava/options/OptionsPlugin.java#L74-L75)—i.e.: there is only one instance of each `OptionsPlugin` per context. But one of the preconditions of commands is that they only run once per instance lifetime. So we n

[2017-04-11 16:42] ctrueden commented on #152
The question of how to completely disable updates comes up occasionally. It's been awhile since the last time I investigated, but IIRC, @imagejan is correct that setting `latestNag` to `Long.MAX_VALUE` is the easiest way to go.

I found [this old mailing list thread](http://imagej.1557.x6.nabble.com/Blocking-Fiji-s-Updater-tp5005907p5005908.html) which might help some. Unfortunately the old `trac.

[2017-04-20 11:55] Sethur opened #164 "Command line invocation of macros with parameters containing a parenthesis will fail if Imagej is already open"
The issue is related to the following earlier issue:

[https://list.nih.gov/cgi-bin/wa.exe?A2=ind1512&L=IMAGEJ&P=R29972&1=IMAGEJ&9=A&J=on&d=No+Match%3BMatch%3BMatches&z=4](https://list.nih.gov/cgi-bin/wa.exe?A2=ind1512&L=IMAGEJ&P=R29972&1=IMAGEJ&9=A&J=on&d=No+Match%3BMatch%3BMatches&z=4)

This was fixed, thus now something like:

`imagej-win64.exe -macro "mymacro.ijm" "tmp[A(.dcm"`

will not resul

[2017-04-20 18:44] ctrueden commented on #164
@Sethur Did you try going to _Edit &#9654; Options &#9654; Misc_ and unchecking the "Run single instance listener" option?

[2017-04-21 08:29] Sethur commented on #164
@ctrueden Yes, I meant that the arguments are not passed correctly to the running instance. Further fiddling meanwhile revealed that the issue **only** occurs with ImageJ2. It can be avoided using `--ij1` with the launcher, thus disabling ImageJ2 support. Apparently, there is a bug in the way the instance listener  works when IJ2 support is enabled. A workaround for me now is to mask the parenthes

[2017-04-21 13:27] ctrueden commented on #164
@Sethur Glad you have a workaround.

The single instance listener code indeed works differently in ImageJ2. It was actually unsupported for a long time, but then finally readded as a project sponsored by Zeiss. Unfortunately, the developers who have worked on it in the past have left the project, and I do not personally have a good understanding of how it works. If you feel strongly about fixing t

[2017-05-04 21:25] AlvFolgado opened #165 "Possible CommandInjection in: \source\ij\plugin\BrowserLauncher.java"
Hello imageJ staff/community,

I would like to report some security issue that will affect to ImageJ software running on OSX systems.

I think that in this piece of code we could inject commands:

BrowserLauncher.java ==> openURL(String **url**)

[code]
I think it will be possible to inject code inside runMacro() in the following way:

[code]
Sorry if it is a known issue, or there are technical er

[2017-05-04 21:32] ctrueden commented on #165
@AlvFolgado Thanks for the report, but I am confused: could you not also simply run the code using the macro language's `eval` function? Going through the `BrowserLauncher` seems awfully convoluted by comparison.

[2017-05-04 21:43] AlvFolgado commented on #165
As far I have research, it looks like only by calling that function (BrowserLauncher.openURL) this attack could be possible.
Of course this reduce their impact drastically (adding that only works in OSX systems).
Normally almost no one is going to use this class/method to directly retrieve an image from an URL (we have theoretically safe function as "openImage()"), but maybe some developers will s

[2017-05-04 21:59] ctrueden commented on #165
The following Groovy script, when run from ImageJ's Script Editor, launches the Calculator on macOS:
[code]

This is much more direct than your injection.

I agree that the `BrowserLauncher` code is insecure—but I want to understand how this hack actually makes users any more vulnerable than they already are by running ImageJ in general.

[2017-05-04 22:14] hadim commented on #153
I think this is fixed now.

[2017-05-04 22:23] ctrueden commented on #153
@hadim I think you are right; thanks! Not sure when it started behaving properly, though...

[2017-05-04 22:23] #153 closed

[2017-05-04 22:28] AlvFolgado commented on #165
Problem comes when we feed Strings without any kind of control to dangerous functions.
Let's imagine the following piece of code in a spring framework controller using imageJ as a 3PP library for image processing:
[code]
Developer is trusting that openURL in browserLauncher.java can only open a browser with an URL and **not to do more**,like run other OS commands (by breaking the String).
And here

[2017-05-04 23:29] ctrueden commented on #165
OK, that is fair. Thanks for the explanation. I think it is highly unlikely that anyone would write a web service (which runs headless on the server) that invokes the `BrowserLauncher` (which open a URL in a UI), but... I guess it is conceivable that someone could use ImageJ in an embedded way somewhere and conceivably be bitten by this exploit.

Would you have time and interest to file a PR in ht

[2017-05-05 00:17] AlvFolgado commented on #165
Done.
Thanks for the fast response!

[2017-05-05 13:13] #165 closed

[2017-05-05 13:13] ctrueden commented on #165
For reference, the PR is imagej/imagej1#35. Thanks, @AlvFolgado.

[2017-05-09 17:27] ctrueden commented on #157
Are you using an up-to-date Fiji from https://fiji.sc/#download ? Could you please describe the exact steps you follow—which commands and menu items you run?

I used to observe this last character truncation problem too, but I cannot reproduce now with an up-to-date Fiji.

[2017-05-09 17:54] salimkanoun commented on #157
Hi Curtis,

Yes i'm up to date,

here is the sequence,

Plugin => New => Macro

type print("hello world");

File => Save  "Macro" as file name

The saved file is "Macr.txt" and do no have the ijm extension (while
Ij1Macro type is selected by default in language)

after the save language became "None" and so you have to select "Ij1Macro"
and save it again and finally you get the ijm file.

It also

[2017-05-09 18:52] ctrueden commented on #157
@salimkanoun Great, thanks! I was trying to reproduce with the Java language type. But it seems this bug might be specific to the ImageJ1 macro language? I will dig in now for a few minutes.

[2017-05-09 19:51] ctrueden commented on #157
@salimkanoun Could you please download [the new `imagej-legacy-0.23.7-SNAPSHOT.jar`](http://maven.imagej.net/service/local/artifact/maven/redirect?r=snapshots&g=net.imagej&a=imagej-legacy&v=0.23.7-SNAPSHOT&e=jar), place it in your ImageJ installation's `jars/` folder, and delete the old `jars/imagej-legacy-0.23.5.jar`? Then spin up ImageJ again and see whether the problem still happens for you.

I

[2017-05-09 20:12] salimkanoun commented on #157
Dear Curtis,

I download and used your new legacy

At starting the script editor the default filename is now "Macro.ijm.ijm"
(double extension)
When I save it it save "Macro.ijm.ijm.ijm" (triple extension) and the
script editor don't see the saved file (the asterix stays on the macro
name).
When I hit save again, the macro name update itself to triple extension
(Macro.ijm.ijm) and the asterix is r

[2017-05-09 20:19] ctrueden commented on #157
Nope, but I'm running macOS 10.12.

On your Windows system, does it matter whether _Use JFileChooser to open/save_ is checked in _Edit > Options > Input/Output..._?

To debug this further, I will need to spin up a Windows VM and do a debugging session in Eclipse there... no time right now. Maybe I'll be able to come back to it later.

[2017-05-09 21:51] salimkanoun commented on #157
Dear curtis,

I checked on Linux and I got the exact same bug (Macr.txt).
Unfortunatly I don't have access to a MacOS device
Activating the jfilechooser don't solve it. I got the additional
filechooser window but the bug stay the same.

Best regards,

Salim

2017-05-09 22:19 GMT+02:00 Curtis Rueden <notifications@github.com>:

[2017-05-10 22:12] ctrueden commented on #140
One year later...

So, the goal is to make that option completely obsolete. We have lazy syncing now which is always enabled. We never want to perform expensive up-front syncing. And really, we want to always wrap/unwrap data structures back and forth, rather than ever copying pixels. This can be done in the majority of cases thanks to the ImageJ1 `VirtualStack` class.

Definitely not, no. It is—t

[2017-05-11 16:40] #138 closed

[2017-05-11 17:32] ctrueden commented on #162
In the interest of cross-linking: the thread I sent to the Maven users list is [here](http://mail-archives.apache.org/mod_mbox/maven-users/201703.mbox/%3CCADN69ymq1AtwKfCDK-SkVcZ51DS-PXmGMUiOv0YnBKFovtax0g%40mail.gmail.com%3E). However, not much came of the discussion.

I also added Gentoo to the ImageJ packaging "wish list" [here](https://imagej.net/Wish_list#Packaging). I am sorry I cannot make

[2017-05-13 08:55] chewi commented on #162
I'm sorry that my initial ping got buried in my inbox when I must have been very busy and I totally forgot about it. I hate to pour cold water over this discussion but you've both neglected to mention the real issue, which is that the Gentoo Java team is all but dead. There have been many discussions regarding what to do about Maven since I became lead but what I eventually came to realise is that

[2017-05-15 09:28] ehrenfeu commented on #105
Just as the above mentioned PR to stop shipping `javac` with Fiji has been merged, the corresponding command line option `--javac` should be removed from the launcher. I've tested it is still available on the latest version, but I couldn't find a corresponding ticket here on github...

[2017-05-15 10:32] imagejan commented on #105
@ehrenfeu https://github.com/camlloyd/fiji/pull/4 was merged on a _fork_ of the fiji repository, no?

Also, it was just [Fiji's fork](https://github.com/fiji/javac) of `javac` that has been addressed in that PR, but references to `tools.jar`
I guess all of [these lines](https://github.com/imagej/imagej/blob/77828f56dd92cce605ee4a3cd5926031f3bf055d/bin/ImageJ.sh#L182-L197) need to be removed then,

[2017-05-15 16:39] ctrueden commented on #105
@imagejan There is also [this deprecated version of that script](https://github.com/fiji/fiji/blob/550b6a57f4f7aca6c1e63488ca6c3032588805c7/bin/ImageJ.sh), and of course the [ImageJ Launcher code itself](https://github.com/imagej/imagej-launcher/blob/imagej-launcher-4.0.5/src/main/c/ImageJ.c#L917-L924).

Looking at `ImageJ.sh` though, I actually see no reason to remove the `--javac` etc. logic. It

[2017-05-16 17:10] ctrueden commented on #162
Thanks @chewi for taking the time to respond.

I agree. That said, I do see the value in having the source available. And I do see the value in validating that packages really do build from source. However, such validation may be a separate benefit/goal from actually offering Java Gentoo packages. In the interest of pragmatism, I think it makes more sense to automate, defer, wrap, etc., as much as

[2017-06-04 19:13] riveryeti opened #166 "opens garbled tiffs from USGS aerial imagery archives"
I downloaded a 96mb tiff from archived imagery like this (select download/hi resolution)

https://earthexplorer.usgs.gov/metadata/4660/ARB590450020058/

and when opened in ImageJ it shows the tiff as garbled/wrapped around. I could experiment with gdal to try different formats, but not sure what's happening, if it's a maximum dimension problem, or something else. Initially thought it might be a 32

[2017-06-04 19:41] riveryeti commented on #166
I ran a simple gdal_translate on the image just to see what happened and it made a readable image. graphicsmagick (verbose) and gdalinfo didn't show me any differences in the two images. Not sure where to look to see what causes the bad behavior. Note it is multiple images, not a single one, that have this behavior.

[2017-06-05 02:28] ctrueden commented on #166
@riveryeti I could not test it myself, since you need a login to download that image, but you could also try with _File &#9654; Import &#9654; Bio-Formats. ImageJ actually has several different ways to import TIFF files; see the newly minted [TIFF page](https://imagej.net/TIFF) for details, and happy to elaborate further if things are not clear. It would be good to know which (if any) of these var

[2017-06-21 12:17] hftsai opened #167 "crashes of imageJ on kubuntu linux"
Hi guys,
Sorry now i'm having trouble starting imagej on my kubuntu linux.
I'm not sure how it happens, but my fiji imageJ just cannot start up.

I tried downloading a new copy but the problem still exists.
[code]

Does this one make sense at all? i though imageJ is all based on java?

or did i do somethings wrong?

thank you.
Best,

[2017-06-21 13:08] hftsai commented on #167
sorry i did it wrong.
It's currently being discussed here
[http://forum.imagej.net/t/unable-to-start-imagej-on-ubuntu-16-04-2-fresh-install/5757/12](url)

for the time being, navigate to the fiji folder and execute ./ImageJ-linux64 --system

[2017-06-21 13:08] #167 closed

[2017-06-23 11:46] stevenjwest opened #168 "Fixing "memory leaks" in ImageJ"
Dear all,

This is more of a general comment/request than any specific issue.  I have been running through some plugins I have made recently dealing with improper allocation of object references and ironing out "memory leaks" (I could probably be more careful during my coding!).

It occurred to me during this assessment that it would be great if there was the ability to run a method which would re

[2017-06-23 13:45] ctrueden commented on #168
Quitting and restarting the program is of course the simplest, and currently available, way to reset ImageJ back to its initial state.

It might be possible to implement some technical solution that does not shut down the JVM, but what would be the purpose? I.e.: what is the undesirable side effect of actually restarting the software? Are you expecting e.g. images to remain open? If so, that is no

[2017-06-23 13:52] stevenjwest commented on #168
Hi Curtis,

Thanks for your reply.  Purpose would be to allow ImageJ to run for a long time, say on a server, without ever having an OOM.

Yes as say, ImageJ itself would have no way to know what objects should be retain, and I would expect any images or other objects not present in the initial state of ImageJ to be Garbage Collected.  My plugins finish by saving information to disk and leaving no

[2017-06-23 22:02] ctrueden commented on #168
Thanks @stevenjwest for clarifying. In that case, I do not understand why you cannot simply shut down ImageJ and restart it automatically afterward, e.g. from a shell script which calls ImageJ in a loop? This will guaranteed flush all the memory and start from a clean slate for each iteration.

[2017-06-29 20:36] MaxLeiter opened #169 "RoiListener CREATED not firing"
code example:
this is also present in the example EventListener plugin: https://raw.githubusercontent.com/imagej/ImageJA/ac7c554675133443b9e3d3883c5d727049c9d857/src/main/java/ij/plugin/EventListener.java

MODIFIED is fired correctly, however CREATED never is. Apologies if this is my mistake.

[code]

[2017-06-29 21:09] ctrueden commented on #169
Thanks for the report, @MaxLeiter.
/cc @rasband since this is a question about ImageJ 1.x.

[2017-06-29 22:48] MaxLeiter commented on #169
I believe the issue is here:
https://github.com/imagej/ImageJA/blob/f940bc2910de7339589ef102309781f74a30db27/src/main/java/ij/gui/Roi.java

The constructors should probably notifyListeners(RoiListener.CREATED)

[2017-06-30 00:18] rasband commented on #169
This bug is fixed in the latest ImageJ daily build (1.51q5). View the changes at https://github.com/imagej/imagej1/commits.

[2017-06-30 00:18] #169 closed

[2017-07-06 19:33] ctrueden commented on #25
Closing in favor of scijava/scijava-common#35.

[2017-07-06 19:33] #25 closed

[2017-07-10 17:24] KalenBerry opened #170 "Deleting a file from within the imageJ open file browser freezes imageJ/Fiji on windows 8.1"
Problem occured when trying to right click delete from the menu within the imageJ file browser. The entire program became unresponsive, but windows was still working fine. ImageJ is not listed as unresponsive in the task manager.

I am running windows 8.1 and have confirmed the issue after running both update fiji and update imageJ.

[2017-07-10 17:32] ctrueden commented on #170
Try switching to `JFileChooser` via the setting "Use JFileChooser to open/save" in the _Edit &#9654; Options &#9654; Input/Output..._ dialog.

[2017-07-10 17:38] KalenBerry commented on #170
So that works, by removing the menu option to delete the file :)
I have included my configuration file in the original post. I'm running java 1.8. I did not see the issue on another computer running 1.7.

[2017-07-10 19:20] ctrueden commented on #170
@KalenBerry If you do find time to test the latest version of Java 8 (`1.8.0_131` as of this writing), to see whether it still has this bug, please let us know. In that case, we could create a FAQ entry describing that this is a bug in Java which has since been fixed.

[2017-07-10 20:00] KalenBerry commented on #170
Oh I see. Happy to help troubleshoot.

I updated my java to the latest version and confirmed via the properties page that the new version is being used by imageJ.

The issue still exists after this. My most recent config file is attached.
[ImageJ configuration v2.txt](https://github.com/imagej/imagej/files/1136870/ImageJ.configuration.v2.txt)

[2017-07-10 23:58] avh-on1 opened #171 "Returning a file path from a function call requires converting to string"
[code]

This will ask you to pick 3 files. The first 2 times work, but the 3rd one fails with:

[code]

FIJI on ImageJ 1.51p, Java 1.8.0, MacOS 10.12.5

[2017-07-11 03:25] ctrueden commented on #171
@avh-on1 Have you considered using the [script parameter syntax](https://imagej.net/Script_Parameters)? Here is an example macro:
[code]

[2017-07-11 07:00] imagejan commented on #171
To my knowledge, the ImageJ1 macro language only supports numeric and string types. From the documentation:

Trying to assign the return value of `pickFile()` to a variable results in the same error:

[code]

So, @avh-on1, use the parameter syntax as suggested by @ctrueden, or switch to any of the other available [scripting languages](https://imagej.net/Scripting#Supported_languages) if you want t

[2017-07-11 07:21] avh-on1 commented on #171
I don't mind that "file paths" are actually strings in ImageJ macros. What I do mind is that `return`ing the results of a function call only works if the result is a number. Why can't I return a string?

[2017-07-11 07:43] imagejan commented on #171
Ok, so what actually doesn't work is returning _nested_ function calls if their return value is a string:

[code]

That is a shortcoming of the IJ1 macro language, and @rasband might want to comment on this.

For the time being, I recommend choosing a full-fledged scripting language (such as Javascript, Groovy, Python) anyways. :-)

[2017-07-17 15:27] ctrueden commented on #114
With Jython 2.7.0, this problem seems to be gone, at least in my tests. Please reopen if you still experience the issue.

[2017-07-17 15:27] #114 closed

[2017-07-25 09:04] cyrilturies opened #172 "Drag and drop ImageJ 2 .czi .zvi files with Bio-Formats"
Dear all,
I noticed that the drag&drop opening in ImageJ2 is not working for .czi and .zvi file-types. I tried from old and fresh installation (IJ 2.0.0-rc-43/1.51p; Java1.8.0_51 [64-bit]), with Bio-Formats 5.5.3 manually installed or by ImageJ Updater.
The Bio-Format Importer is functional within the Plugins sub-menu however when trying to drag&drop in ImageJ toolbar:
*.zvi file returns a message

[2017-07-25 21:55] avh-on1 opened #173 "Script Parameter Syntax does not work in ImageJ Macro Functions"
The following ImageJ macro works as expected:
[code]
But this one does not:
[code]
because `str2` is undefined. It seems like the macro parser completely throws out script parameters that are inside of functions.

[2017-07-25 21:58] avh-on1 commented on #171
@ctrueden, I tried your suggestion of using [script parameter syntax](https://imagej.net/Script_Parameters) in my functions. It doesn't work, hence #173.

[2017-07-26 06:54] imagejan commented on #173
Script parameters are always global on a script level, i.e. is doesn't make sense to define them inside a function, as they're parsed before executing the actual script code.

Also, the legacy syntax (`// @String str`) you're using will only work at the script header, until the first line that isn't a parameter declaration. With the updated syntax (`#@ String str`), you can define parameter on any

[2017-07-26 06:54] #173 closed

[2017-07-26 07:00] imagejan commented on #171
Can you explain why you need this to be nested? Can't you work with the script input parameters being global?

Maybe you can create a topic on the [ImageJ forum](http://forum.imagej.net/) describing your use case and goals, then we can try to find the best possible solution for you.

[2017-08-04 06:39] amounTr opened #174 "Detection area"
Hello,
I would like to apply a region detection on pictures of greenery tiles. I tried with a plugin growing region method and also the thresholding but the obtained results were bad. Please could you give me some other solutions allowing me to detect these areas of greenness.

This is an example picture:

![img-320](https://user-images.githubusercontent.com/30657224/28957006-33db79fc-78f0-11e7-9a

[2017-08-04 08:19] stelfrich commented on #174
Dear @amounTr,
please re-post your question to the [ImageJ Forum](http://forum.imagej.net) since it is not development related.
Best,
Stefan

[2017-08-04 08:19] #174 closed

[2017-08-04 08:21] stelfrich commented on #172
I can confirm that issue with vanilla ImageJ2. Everything works as expected with Fiji.

[2017-08-04 08:25] stelfrich commented on #166
@riveryeti A similar issue was fixed in the ImageJ daily build (1.51q27). See http://forum.imagej.net/t/bfconvert-command-line-tool/5872/31 for discussion.

[2017-08-04 09:16] amounTr commented on #174
Thank you for your help.

Best,

Imen

________________________________
De : Stefan Helfrich <notifications@github.com>
Envoyé : vendredi 4 août 2017 09:19
À : imagej/imagej
Cc : amounTr; Mention
Objet : Re: [imagej/imagej] Detection area (#174)

Dear @amounTr<https://github.com/amountr>,
please re-post your question to the ImageJ Forum<http://forum.imagej.net> since it is not development related.

[2017-08-24 11:04] Sethur commented on #139
I have created a pull request to fix this issue on ImageJA

[2017-08-24 14:37] ctrueden commented on #139
Thanks @Sethur! To clarify, my comments above are regarding the ImageJ2 Swing UI, not the ImageJ 1.x AWT UI, which is what you fixed with imagej/ImageJA#12. FYI, I believe @rasband is traveling right now, so there might be some delay before he responds.

[2017-08-24 14:45] Sethur commented on #139
@ctrueden No big deal. Is the IJ2 Swing UI still dormant? I think Fiji currently also uses the AWT one, but I might be wrong there.

[2017-08-24 14:54] ctrueden commented on #139
Yes, indefinitely. It is possible we will develop it further, but it seems many users would prefer something different and more "modern" such as [ImageJFX](https://imagej.net/ImageJFX).

Yes, Fiji uses the "ImageJ Legacy" UI—i.e., the ImageJ 1.x AWT UI—by default. However, it does also ship with the IJ2 Swing UI, and can be launched in that mode, via the _Help &#9654; Switch to Modern Mode_ comman

[2017-08-28 18:09] daknecht opened #175 "Mac OS X double click and drag and drop stopped working"
I can no longer open Fiji files by double clicking on them (tiff) or dragging and dropping them on the Fiji icon in the menu bar.  If Fiji is not open, it opens but does not open the file.  If it is open, nothing happens.  Opening the same file from File/Open or File/Import works fine.  This used to work fine and I don't know when the transition occurred to make it stop working (within the last fe

[2017-08-28 18:13] ctrueden commented on #175
I believe the issue is a limitation in Oracle's Java 8—previously, Fiji used Apple's Java 6, which supported this functionality. They are working on making it work again with Java 9, but it will be a while before Java 9 is ready. As a workaround for now, you can drag-and-drop onto the main window. You should see the status bar change to `<<Drag and Drop>>` while doing it. See [this forum thread](h

[2017-09-20 18:36] 4F2E4A2E opened #176 "How to avoid: More than one item must be selected, or none"
First of all, thank you for this amazing tool and plattform, it has been very interesting to work with this software. But when it comes to segmentation we are having a hard time labeling / annotating just one single class / selection in one image. This is the error we are always getting:

![image](https://user-images.githubusercontent.com/64590/30661027-087df8de-9e43-11e7-9bd1-4b4aba32ba45.png)

I

[2017-09-20 18:56] etarena commented on #176
Hi @4F2E4A2E - This would be a good question to post on the [ImageJ Forum](http://forum.imagej.net/) - you might get a quick(er) response there and can link it here on github.

[2017-09-20 20:40] 4F2E4A2E commented on #176
@etarena thank you! I've just created the post: http://forum.imagej.net/t/how-to-avoid-more-than-one-item-must-be-selected-or-none/7064

[2017-09-21 07:13] imagejan commented on #176
As this issue seems specific to your usage of the Alp’s IMage Segmentation Tool (AIMS), and it is being discussed on the forum now, I'm closing this issue.

[2017-09-21 07:13] #176 closed

[2017-09-22 14:05] 4F2E4A2E commented on #176
I've find out how to do it, i just removed the if check [1] and it worked. This way we can do segmentation on images containing only one annotation.

Thank you all!

[2017-10-02 02:58] rchin80 opened #177 "Handling default values with script parameters"
Hi,
   When using script parameters to take information from user , how to set up default values for String, Boolean, and Integer? The code below does not work.  For example, the Integer "Threshold" does not show the value at the first time and if I key in a value, it will always show the last value I put in and do not show the default value. Does anyone knows why?

# @String(label="Yes or No?  (D

[2017-10-02 08:00] imagejan commented on #177
I just checked and it does work for me (on Windows 7):

![image](https://user-images.githubusercontent.com/2033938/31068451-53993626-a758-11e7-9411-6d6052afea47.png)

On which system are you, and what version of `scijava-commons` do you have?

[2017-10-02 14:33] rchin80 commented on #177
I am using Windows 7 and my imageJ is 1.51n, Java is 1.8.0_66 (64-bit).
How to check the version of scijava-commons?

By the way, the same code was working fine (being able to read the default value) when I first learned and tried script parameters but the same code suddenly started to have problem later on. I have no idea why. I might have accepted new updates when launching Fiji every now and th

[2017-10-04 14:29] ctrueden opened #178 "Retire jenkins.imagej.net"
Our faithful Jenkins server has served us well for several years. However, Jenkins is a complex piece of software with many security concerns and nuances. [LOCI](https://imagej.net/LOCI) is making a concerted effort to reduce the number and complexity of services it runs, in favor of community- and cloud-based services whenever possible. E.g., rather than hosting the ImageJ source code in SCM on t

[2017-10-13 04:39] hadim commented on #178
I don't know if it fits here but would that make sense to have a Maven plugin that can push packages to IJ Update Sites?

If you point me to the right direction, I can try to have a look.

[2017-11-07 02:37] ctrueden commented on #177
Sorry for the long delay in reply, @rchin80.

There is a known bug where values are not currently working for primitive types (e.g. `int`). Using the wrapper types (e.g. `Integer`) is a workaround. But it looks like you are using the wrapper types already, correct?

Could you please try starting ImageJ from the command line? Make a copy of `ImageJ-win64.exe` called `debug.exe` and launch it. A Com

[2017-11-12 15:16] ctrueden opened #179 "Migrate ImageJ-related Neurofly web site content to imagej.net"
The entire neurofly website is available as a mirror from:
- http://fiji.sc/downloads/3dviewer/neurofly.tar.gz

and
- http://fiji.sc/downloads/3dviewer/

This content would work better on the ImageJ wiki, integrated with the 3D Viewer page, etc., rather than on a separate, unmaintained web site.

[2017-11-21 13:51] ctrueden commented on #89
Fixed in imagej/tutorials@e3eafd472e1eb56141a9ca771056587c0dfbf239.

[2017-11-21 13:51] #89 closed

[2017-11-27 16:26] paulmenzel commented on #155
[Java 9 was released in September 2017.](http://www.oracle.com/technetwork/java/javase/9all-relnotes-3704433.html)

With ImageJ 1.51n and Java 9, I get the error below, and it doesn’t start.

[code]

[2017-11-27 16:41] paulmenzel commented on #155
No idea, how to override the Java options. `--help` does not list environment variables. But there is the switch `default-gc` disabling the problematic option `Xincgc`, which, according to the manual, is already deprecated is Java 8 with no replacement.

Passing `--default-gc` to ImageJ and starting it with Java 9.0.1, warnings are printed to the terminal, but it starts (and is correctly scaled wi

[2017-11-28 19:42] graukatze opened #180 "Line length measurement of movie file stalls ImageJ and throws exception"
Hi!

When performing a line measurement on a single image from a time stack, invoking 'M' to measure causes ImageJ to stall, and randomly throws the following exception:

[code]

Cancelling the measurement gives a warning that <700,000 measurements are to be discarded (though only 1 should be done).

Version used:
(Fiji is Just) ImageJ 2.0.0-rc-61/1.51n; Java 1.8.0_66 [64-bit];
ImageJ 1.51n

Examp

[2017-11-28 21:47] ctrueden commented on #180
I am unable to reproduce the issue on my system using the linked sample dataset. I drew lines of various widths and mashed the M button as fast as I could, but the measurement was added to the Results window successfully every time.

Did you perform any other analysis prior to doing these measurements? Are you able to reproduce after a fresh start of Fiji?

/cc @rasband

[2017-11-28 21:51] graukatze commented on #180
@ctrueden

This is not file specific, but occurs after a random number of measurements (we measure 2x per file, for many files). Could you maybe duplicate the sample file like 20 times and load them sequentially and measure (open, measure, close)?

[2017-11-28 23:46] ajnarivera opened #181 "Capture Overlay in TrackMate is offset"
I've tried Capture Overlay several times, including after restarting my computer.  Each time it produces an offset clip:
![capture](https://user-images.githubusercontent.com/34078672/33350366-379d2e00-d453-11e7-8c4b-22720e0176a4.GIF)

[2017-11-29 15:57] rasband commented on #180
I am unable to reproduce this problem. What are your line selections like? Straight line, segmented line or freehand line? What is the line width? How long and convoluted are the lines? What options are set in Analyze>Set Measurements?

[2017-11-29 19:34] etarena commented on #181
@ajnarivera ... I reposted this issue on the fiji/trackmate repository here: https://github.com/fiji/TrackMate/issues/114

I'm closing this issue - follow at the new location.

[2017-11-29 19:34] #181 closed

[2017-12-01 03:29] graukatze commented on #180
Hi!

@rasband Measurements are all deactivated - I only need the length measurements.

Problem is on 2 different machines, and what I did not mention (d'uh) is that we do 'Plot Z-axis profile' first and save the profile, with 'live' activated. When I de-activate 'live' before doing the line measurement, the problem goes away!

[2017-12-02 02:17] rasband commented on #180
This bug should be fixed in the latest ImageJ daily build (1.51s39). Source code changes are at
https://github.com/imagej/imagej1/commits. "Plot Z-axis Profile" and "Measure" were using the same ResultsTable, causing interference in "Live" mode. As a bonus, line length measurements are now much faster when measurements are all deactivated.

[2017-12-02 02:17] #180 closed

[2017-12-07 14:34] imagejan commented on #122
In connection with this plan, I suggest to setup [issue templates](https://github.com/blog/2111-issue-and-pull-request-templates) on the relevant projects to improve the chances that newcomers will submit all the relevant information to reproduce reported issues.

[2017-12-27 19:07] haesleinhuepf opened #183 "Console windows doesn't show stdout any more"
Hey guys,

is it possible that with Fiji (ImageJ 2.0.0-rc-62/1.51s; Java 1.8.0_66 [64-bit], Windows 10), the console window changed? (it has tabs now)
Furthermore, it doesn't show _stdout_ anymore. Was this an intentional change? Is there an option somewhere to get the old behaviour back?

Thanks,
Robert

[2017-12-27 19:14] haesleinhuepf opened #184 "Running two Fijis at a time no longer possible?"
Hey guys,

on a recent Fiji (ImageJ 2.0.0-rc-62/1.51s; Java 1.8.0_66, Windows 10 64 Bit), it appears no longer possible to run Fiji twice. While one Fiji is running, I started another instance as debug.exe. It opens no window but finally says this on the command line:

[code]

Is it possible to configure somehow that executing several instances of ImageJ is allowed?

Thanks!
Robert

[2017-12-28 14:12] ctrueden commented on #183
Yes, this was the result of much effort by @maarzt on behalf of @fjug. If you do not like it, feel free to have a conversation with them (in person or here online) about what would be better.

I cannot reproduce this problem with 2.0.0-rc-62/1.51s.

All of the following snippets in the search bar produce output to the console as expected:
[code]
(It is unfortunate that the `LogService` instance ge

[2017-12-28 14:22] #183 closed

[2017-12-28 14:35] ctrueden commented on #184
Does toggling the "Run single instance listener" feature in _Edit &#9654; Options &#9654; Misc..._ make any difference? If not, it is a bug.

See imagej/imagej#98 and imagej/imagej-legacy#116 for more about the history of this feature.

[2017-12-29 15:04] haesleinhuepf commented on #184
Ah, this option helps! I didn't even know that it exists. Thanks a lot!

Solved :-)

[2017-12-29 15:04] #184 closed

[2018-01-01 19:12] #160 closed

[2018-01-08 23:13] Solanaceae2 opened #185 "Open file on NeuronJ plugin freezing"
ImageJ freezes with I try to open a file using the plugin NeuronJ.  I can navigate through folders in the load window until I reach a folder that contains image files, then the entire program freezes.

I am running the current, updated version of ImageJ on Windows 10.  I have tried toggling "Use JFileChooser to open/save" and "Use file chooser to import sequences" on and off under Edit > Options >

[2018-01-09 08:12] imagejan commented on #185
I can't reproduce in an up-to-date Fiji (Java 8) on Windows 10.

Could you please check whether it works for you with a freshly downloaded Fiji, or with a life-line version of Fiji?

Also, what were the exact steps causing the issue? Which image files are present in the folder?

To get more specific help, it would be useful if you paste the output of *Plugins > Debug > System Information* here.

[2018-01-09 18:09] Solanaceae2 commented on #185
Hi,

I freshly downloaded, Java, Fiji and re-installed the plugin NeuronJ and I
am still getting the freezing problem.

The exact steps are:  Open Fiji/ImageJ >  Plugins > NeuronJ > click the
open icon on NeuronJ tool bar > I can navigate through folders until I
reach a folder with an image file (.bmp or .jpg) then the entire program
freezes.

I'm not sure what you mean, the Plugins menu does not

[2018-01-09 21:48] imagejan commented on #185
@Solanaceae2 wrote:

* You shouldn't need to download Java, as Fiji comes bundled with it.
* NeuronJ can be installed simply by activating the ImageScience [update site](https://imagej.net/Following_an_update_site). Is that what you did?

An up-to-date Fiji should contain a *Plugins > Debug* submenu. You can also find the command using the search bar: type <kbd>L</kbd> to activate the search bar,

[2018-01-09 22:12] Solanaceae2 commented on #185
Thank you for your response. Yes, I installed NeuronJ by adding the
ImageScience update and I found debug > system information with your
instructions. This generates about 250 pages of text... should I paste all
of that or is there a specific part that would be helpful?

On Tue, Jan 9, 2018 at 1:48 PM, Jan Eglinger <notifications@github.com>
wrote:

[2018-01-10 18:06] nelas opened #186 "Problem switching LUT via new search bar"
Hello! I usually switch LUTs using `L` > `LUT name` > `Enter`. I noticed that switching to the `HiLo` LUT stopped working in the new [search bar](https://imagej.net/2017-12-29_-_ImageJ2_and_Fiji_updated_-_now_with_search_bar!).

Digging a bit more, it seems that executing the [legacy LutLoader](https://github.com/imagej/ImageJA/blob/8d0f6f96c7947b8a60116dd755964d793289ec9b/src/main/java/ij/plugin/

[2018-01-11 13:51] stelfrich commented on #178
Just noting one related point here, so we don't forget about it: can we use Travis CI to trigger the generation of the `ComponentStats` template for each plugin on http://imagej.net?

[2018-01-11 14:59] imagejan commented on #178
@stelfrich wrote:

According to https://github.com/fiji/fiji/issues/121#issuecomment-306083188, it is [`mediawiki-maven-info`](https://github.com/scijava/mediawiki-maven-info) that can achieve this.

[2018-01-12 03:43] avh-on1 opened #187 "`Replace All` in Script Editor always says "0 Replacements Made!""
To reproduce:
1. Select "Plugins" -> "New" -> "Macro" to open the script editor
2. Add any text to the file
3. Select "Edit" -> "Find and Replace..."
4. In the "Find Next" field, put some text that occurs `n` times in the file, where `n>=1`.
5. Add any text to the "Replace with" field
6. Click "Replace All"

What happens:
* All occurrences of the "Find Next" text are replaced with the "Replace Wit

[2018-01-12 08:03] imagejan commented on #186
Yes.

This is being tracked in https://github.com/scijava/scijava-search/issues/5, so I'm closing it here.

Thanks for the illustrative screenshots though 😃

[2018-01-12 08:03] #186 closed

[2018-01-12 08:27] imagejan commented on #187
Thanks for spotting this. I was able to reproduce it and fixed it in https://github.com/scijava/script-editor/pull/13. The fix will be available in Fiji once a new `script-editor` release is cut and uploaded to the update site.

[2018-01-12 08:27] #187 closed

[2018-01-16 20:05] dodewall opened #188 ""Image->Transform->Rotate..." unmappable"
The "Image->Transform->Rotate..." command cannot be mapped i.e. it cannot be linked to keyboard shortcuts through ImageJ or the base operating system. I'm running the most current version of ImageJ on Mac OS Sierra.

Although the "Edit->Selection->Rotate..." command can be mapped (both through ImageJ's "Plugins->Shortcuts->Add Shortcut by Name...." and through the Mac OS Keyboard preferences), its

[2018-01-17 09:15] imagejan commented on #188
@dodewall wrote:

The two commands are _not_ identical, you can find out using the [Macro recorder](https://imagej.net/Introduction_into_Macro_Programming#The_recorder).

* *Edit > Selection > Rotate...* is `Rotate...`
* *Image > Transform > Rotate... * is `Rotate... ` with a trailing space character

By entering "Rotate... " with the space, I was able to successfully map the command.

The presenc

[2018-01-17 09:15] #188 closed

[2018-01-17 11:26] dodewall commented on #188
Great - thanks!

[2018-01-17 22:02] ctrueden commented on #178
Indeed, we can have a nightly Travis cron attached to `mediawiki-maven-info` that regenerates whenever something has changed. I finally hooked up a nightly to `status.scijava.org` and it is working OK; doing it for the sidebars too would be great. But I want to take care to only push changes when things have actually changed. Needs more work than I have time to do right now. In any case, it is not

[2018-01-23 11:55] imagejan commented on #77
See also https://github.com/scijava/scijava-common/issues/298.

[2018-02-08 08:11] imagejan opened #189 "Add CITATION file with bibtex entries"
To help citing the ImageJ project, let's include a `CITATION` file in this repository (and possibly in other repositories where applicable).

See some related discussion in https://github.com/CellProfiler/CellProfiler/issues/3480, as well as the suggestion on [Robin Wilson's blog](http://blog.rtwilson.com/Encouraging-Citation-of-Software-Introducing-Citation-Files/).

See also https://github.com/i

[2018-02-13 01:23] RyanSMcCool opened #190 "Shuffled Image overlay"
I have been using macros for imageJ to perform image analysis for about a year now. After the last update, all of my codes that I had previously incorporated batch mode began shuffling up image orders when using the overlay command (i.e. Image 1a is suddenly being overlaid with Image 3c).

It seems to be systematically switching up files too so that if I run two different codes on the same sets of

[2018-02-13 09:07] imagejan commented on #190
From your description, I'd suppose that this an issue in the `imagej1` legacy component. But really, in order to judge this, more information is required: what's the macro code you're running, which operating system, which Java version, etc.

Why don't you create a topic in the [issues category on the forum ](http://forum.imagej.net/c/issues)and share your macro and possibly some sample images to

[2018-02-13 20:43] RyanSMcCool commented on #190
I'm working on creating an account for the forum now. I am currently running java 8 update 161, so as far as I'm aware it is the most recent version. My legacy components seem to be up to date as well. I am running jars/imagej-legacy.jar and jars/legacy-imglib1.jar.

[2018-02-14 05:42] RyanSMcCool commented on #190
Just as another note while I prep a minimal code to share, I noticed that if I have the file open where I save my overlaid images, I can visually see images 3a-3c be overlaid and saved, followed by 2a-2c, and finally 1a-1c. Not sure if this will help diagnose a problem.

[2018-02-18 20:29] hsyon opened #191 "A Trojan detected by Windows Defender in FIJI distribution"
![fiji_bug](https://user-images.githubusercontent.com/36607862/36356435-4f14d56e-14af-11e8-8312-1d19313a0141.png)

Hello,
I recently downloaded a JRE only version of FIJI from the FIJI website and installed it on a new Windows 10 computer.
I would like to report that the Windows Defender scan shows there is a trojan within the FIJI distribution.
Thank you.

[2018-02-19 08:46] stelfrich commented on #189
We could, in addition, provide a `CITATION.cff` according to the recently established [Citation File Format (CFF)](https://citation-file-format.github.io/).

[2018-02-19 18:13] ctrueden commented on #191
This is very likely a false positive. Windows Defender's recent definitions update has triggered this detection in other JAR files as well, e.g. [in IntelliJ IDEA](https://youtrack.jetbrains.com/issue/IDEA-186808).

In the case above, the affected file is listed as `ij-1.51u.jar`. If you have Apache Maven installed (see [here](http://imagej.net/CLI)), you can build the code yourself as follows:
[c

[2018-03-06 12:50] rharkes opened #192 "array.length returns string"
If an array of strings is created the length becomes of type string as well.

`array1 = newArray("a","b","c","d");`
`array2 = newArray(1,2,3,4);`
`array3 = newArray(array1.length);`
`array4 = newArray(array2.length);`

Now we have this situation:
`Array.print(array3);`
returns `4`
`Array.print(array4);`
returns `0,0,0,0`

[2018-03-08 13:50] imagejan commented on #192
This is an issue with [`imagej/imagej1`](https://github.com/imagej/imagej1). @rasband any insight?

[2018-03-08 14:40] rasband commented on #192
This is an ImageJ 1.51u regression that is fixed in the 1.51v daily builds.

[2018-03-08 14:40] #192 closed

[2018-04-02 20:57] oeway opened #193 "better APNG support"
As an alternative to animated GIF, [APNG](https://en.wikipedia.org/wiki/APNG) has the advantage of being lossless, small in size and supported by most of the browser (https://caniuse.com/#feat=apng) etc.

[APNG vs GIF (use a supported browser to see)](http://apng.onevcat.com/demo/)

Since ImageJ2 uses SCIFIO by default to open image, I notice that it can already open a multi-frame APNG image. With

[2018-04-03 02:29] Claus1 commented on #160
The issue still exist when I try to compile latest Fiji jars with my program and new ImageJ() causes the problem.
I do not need bioformat . What I have to delete?

[2018-04-03 19:32] ctrueden commented on #160
@Claus1 This is not the same issue. What you are talking about is something from source code; this issue was about the binary Fiji distribution not working out of the box. Please post your question on the [ImageJ Forum](http://forum.imagej.net/) and be specific. See [Bug reporting best practices](https://imagej.net/Bug_reporting_best_practices) for tips on how to write a good bug report.

[2018-04-03 21:35] ctrueden commented on #160
@Claus1 Happy to help if you post your question on the ImageJ Forum. Again, please describe exactly what you are trying to do. From your writeup, I do not understand. I do actively support the core ImageJ libraries and the newest ones should definitely be working, provided you are deploying the JARs as intended.

[2018-04-03 22:05] Claus1 commented on #160
I try to use ImageJ from my program for filtering images without GUI. Using jar files from latest Fiji is not possible for that  because the initialization issue adove.
May be it is wrong way to use ImageJ but binary reference in my project
<dependency>
    <groupId>net.imagej</groupId>
    <artifactId>imagej</artifactId>
    <version>2.0.0-rc-65</version>
</dependency>
is not resolved if I use in

[2018-04-04 09:06] AdrienMau opened #194 "lengthOf not working on some d2s() string outcomes"
Hello,
While trying to write a Macro for accessing folder with numeric names i came across a conversion bug when trying to use the lengthOf function on a "d2s()" outcome.
Here i tried to reproduce it briefly:

Macro:
[code]

Is there any way to work this around ?
Thanks in advance,

[2018-04-04 09:16] AdrienMau commented on #194
Ok, after reviewing my post here i realized that by removing parenthesis around "d2s(z,0)" in fname=(d2s(z,0)); The code now works. This seems odd as parenthesis should not have this kind of effect, but who knows...

[2018-04-04 09:16] #194 closed

[2018-04-13 21:55] aliencam opened #195 "ImageJ does not run with java 10 on Linux"
I am on Arch Linux with the "jre10-openjdk" java environment.
Starting imagej:
[code]
imagej does not start erroring out because the -d64 option does not exist in jre10 .
 installing jre8-openjdk and setting jre8 as the default java environment solves the issue.
[code]
Then everything works fine.

I will report to the arch user repository that dependencies should be specifically earlier than jre10

[2018-04-14 02:48] ctrueden commented on #195
The error is caused by the `imagej.sh` Unix launcher, which is not an official part of ImageJ (neither ImageJ1 nor ImageJ2). If you clone `https://aur.archlinux.org/imagej.git` as linked from the package page, you can examine the source and find the place where `-d32` or `-d64` gets added to the arguments. The proper fix is to fix the launcher, not downgrade the dependencies.

If you download Fiji

[2018-04-14 02:48] #195 closed

[2018-04-14 03:05] aliencam commented on #195
Okay great, thanks for your recommendations!

[2018-04-16 20:07] MarkRivers opened #196 "ImageJ does not correctly read RGB TIFF files with RowsPerStrip=1 and Planar Configuration=separate image planes"
I believe I have found a bug in ImageJ (1.51j8) when it reads RGB TIFF files with RowsPerStrip=1 and Planar Configuration=separate image planes.

These files are displayed correctly in all other applications I have tested, including:
- Python Imaging Library (PIL)
- IDL (8.5.1)
- ImageMagick "display" utility on Linux (6.7.8-9)
- Microsoft Word, PowerPoint, Photos, and Paint (Windows 10)

I have n

[2018-05-10 13:58] #191 closed

[2018-05-10 18:03] ctrueden opened #197 "Improve behavior with Java 10"
ImageJ2 and Fiji work with Java 10 but there are some annoyances that need to be addressed.

* [ ] The ImageJ launcher must be new enough to support it. The macOS version of Fiji already includes a new-enough launcher, but not yet for Windows and Linux. (If you want to try the latest version of the launcher, see [this page](https://imagej.net/Launcher#Download).) We need to upgrade the launcher fo

[2018-05-10 18:04] ctrueden commented on #155
Thanks to @stelfrich's efforts (see imagej/imagej-launcher#52), current builds of the ImageJ launcher are now able to launch ImageJ2 with Java 9 or 10. However, there are still some annoyances; see #197.

[2018-05-10 18:04] #155 closed

[2018-05-10 19:56] paulmenzel commented on #197
Why not create a separate issue for each item?

[2018-05-10 20:00] ctrueden commented on #197
@paulmenzel Feel free if you have time.

[2018-05-11 03:44] kephale opened #198 "Cannot threshold composite float32 images"
To reproduce:
1) Open blobs sample image
2) Convert blobs to float32
3) In GUI: Image > Color > Merge Channels
4) Add blobs to 2 channels
5) Try to threshold resulting composite image

Observed behavior:
![image](https://user-images.githubusercontent.com/400105/39905599-e8ae895e-5492-11e8-8056-38debb9e6b9a.png)

[2018-05-14 07:22] slokhorst opened #199 "mvn build fails with OpenJDK 9 and 10"
When I run mvn with OpenJDK 9, it fails with `java.nio.file.NoSuchFileException: /home/sebas/imagej-imagej-2.0.0-rc-65/target/classes/META-INF/json/org.scijava.plugin.Plugin` (it looks like the entire `target/classes` directory is empty). The entire mvn output is in [mvn9.log](https://github.com/imagej/imagej/files/1999641/mvn9.log).

When I use OpenJDK 8, the maven build goes fine: it ends with `

[2018-05-14 11:05] imagejan commented on #198
This is not restricted to 32-bit images. In my tests, every composite image was giving this Threshold dialog, e.g.:

[code]

[2018-05-18 15:31] cortig opened #200 "Java 10 exceptions on macOS X"
Fiji and ImageJ can properly launch with he Java 10.0.1 JDK installed, but at every launch, there is a long list of exceptions that pop-up. The exceptions seem to emanate from this issue:
java.lang.NoClassDefFoundError: com/apple/eawt/ApplicationListener

[2018-05-18 15:33] cortig opened #201 "Updater: "row index is bigger than sorter's row count""
Every time I launch the updater in either Fiji or ImageJ (under macOS X with the Java 10.0.1 JDK) I get the following error in the Console:
WARNING: row index is bigger than sorter's row count. Most likely this is a wrong sorter usage.

It doesn't seem to have much of an impact on the updater though.

[2018-05-18 16:24] cortig opened #202 "Thresholding broken in ij52b.jar"
If I open an image in ij52b.jar and use Adjust > Threshold, I get the thresholding pane.
I can make all the adjustments I want on the sliders, but when I hit Apply, the thresholding changes to a completely different value (with a minimum value much lower than what I had selected).
The value seems to be always the same, regardless of what adjustments I had made with the sliders.

That seems to be n

[2018-05-18 20:58] ctrueden commented on #202
/cc @rasband

[2018-05-18 20:58] ctrueden commented on #201
Thanks @cortig; I have noticed that error as well. Haven't had time to track down where it's coming from yet. Good to have an issue here as a reminder for later.

[2018-05-19 01:47] rasband commented on #202
This regression is fixed in the latest ImageJ daily build (1.52c14).

[2018-05-19 01:47] #202 closed

[2018-05-19 14:16] imagejan commented on #202
See also [this forum discussion](http://forum.imagej.net/t/bug-using-apply-threshold-for-16bit-images/10825?u=imagejan) that might be related.

[2018-05-19 21:26] mngad commented on #200
The f is w da 7

On 19 May 2018 21:25, Jan Eglinger <notifications@github.com> wrote:

See also #197<https://github.com/imagej/imagej/issues/197>.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub<https://github.com/imagej/imagej/issues/200#issuecomment-390430389>, or mute the thread<https://github.com/notifications/unsubscribe-aut

[2018-05-22 13:22] cortig commented on #197
I'm in 1.52c and I still see the java.lang.NoClassDefFoundError when I launch the app… The other warnings seem to be gone though.

[2018-05-22 20:48] ctrueden commented on #197
Cool, glad to hear. We'll try to get the really obnoxious errors above ironed out, so that you can keep using Java 10 in practice, even if it isn't "recommended" per se for a while.

Speaking of speed, Java 10 includes an experimental new JIT compiler called Graal that is supposed to be even faster after initial warmup time. You can enable it by passing `-XX:+UnlockExperimentalVMOptions -XX:+Enabl

[2018-05-22 21:29] ctrueden commented on #200
Closing in favor of #197.

[2018-05-22 21:29] #200 closed

[2018-05-29 13:50] hsyon opened #203 "Multicore "Save as ZIP""
Hello,

Thank you all for your contributions to FIJI ImageJ.

I posted this request on fiji github and was informed that this is ImageJ code and not FIJI.

https://github.com/fiji/fiji/issues/193#issuecomment-392687154

The "Save as ZIP" function is very useful for reducing file size of images.
For my use, I get nearly 1/10 reduction in file size, which is significant.
However, this function doesn

[2018-05-30 12:04] #199 closed

[2018-05-30 16:30] slokhorst commented on #199
Thanks, it works!

[2018-05-30 16:31] slokhorst opened #204 "imagej-launcher-5.0.0-amd64-Linux-gcc-executable missing (rc-66 regression)"
If I run `mvn -Papp` with the imagej-2.0.0-rc-66 release, it fails with the following error:

`[ERROR] Failed to execute goal org.apache.maven.plugins:maven-dependency-plugin:3.0.0:unpack (unpack) on project imagej: Unable to find/resolve artifact.: Could not find artifact net.imagej:imagej-launcher:nar:amd64-Linux-gcc-executable:5.0.0 in imagej.public (http://maven.imagej.net/content/groups/publi

[2018-05-31 12:13] uwemock commented on #201
I find this message in one of my projects as well, but only if I start the application in Java 9. I have tried to find the cause, but with no luck. As this doesn't appear in Java 8, I expect this to be a bug in Java 9.

[2018-06-14 19:50] dnmason opened #205 "Combine selections (OR) command produces incorrect results with fully overlapping ROIs"
From: http://forum.imagej.net/t/sum-of-areas-with-the-command-or-combine/11467/3

Combining overlapping ROIs which include a non-primitive shape produces an inaccurate area measure. I would expect a fully overlapping ROI to have no effect on the area measure of the enclosing ROI.

Steps to reproduce (IJ1 code):

Note that in my testing a freehand selection appears larger after combining with a ful

[2018-06-16 14:52] hsyon commented on #203
Hello,

After a quick search on the internet, found "pigz."

On MacOS, straightforward to compile.

--> multicore zip compression

test case
5.84 GB TIFF file
pigz -7 --zip --keep testfile.tif
--> 818 MB compressed file in a few minutes
ImageJ ZIP compression takes at least 10 minutes, etc and file size is 828.8 MB

with --fast option, compresses in seconds, but file size is somewhat larger.

than

[2018-06-16 14:52] #203 closed

[2018-06-16 21:25] hyungsongnam opened #206 "Getting to the Searchbar with L"
Hello,
I would like to report a minor UI issue.
With an image window open, typing L goes to the searchbar.
This also works when the Window & Level tool is open and is in the foreground.
However, when the Channels tool is open and in the foreground, typing L doesn't go to the searchbar.

Thank you!

[2018-07-09 11:33] slokhorst commented on #204
Still happens with the imagej-2.0.0-rc-67 and imagej-2.0.0-rc-68 releases.

[2018-07-09 11:39] slokhorst commented on #197
Looks like Java 10 (and 9) support has deteriorated in the latest release: I now get the following error when trying to use it:
[code]

[2018-07-09 16:03] ctrueden commented on #197
@slokhorst That error is a build-time error, added intentionally to prevent people from trying to build with Java 9 or 10 by default. Building with Java 8 is strongly recommended. You can still run the program with Java 9 or 10, subject to the discussion above. You can also build with Java 10 by explicitly writing:
[code]
But depending on the component, this may or may not work, and is not current

[2018-07-24 15:14] erinmerchant opened #207 "Selection from ROI manager onto a new image"
Hi everyone,

I am relatively new to ImageJ macro writing, but I have come across this issue. I am looking at images of the mouse brain and trying to analyze the particles in that image. However, there are pieces of the next slice of brain in the image where those particles are also being counted; I essentially want to remove the edges and only take the centermost part of the image. So far, I have

[2018-07-24 16:09] imagejan commented on #207
Please have a look at the macro functions documentation, in particular:
https://imagej.net/developer/macro/functions.html#roiManager(%22and%22)

and post more specific follow-up questions on the [ImageJ forum](http://forum.imagej.net/).

[2018-07-24 16:09] #207 closed

[2018-07-28 22:30] slokhorst commented on #204
Managed to fix it with [these changes](https://github.com/slokhorst/imagej/commit/93e9e768a0898e58649d1f4c1385432d38676da2) and
[code]

[2018-08-01 18:28] ctrueden commented on #204
Thanks for the update, @slokhorst. I will try to find time to address this.

[2018-08-13 13:07] rggjan opened #208 "Support for float32 RG, RGB and RGBA images"
Currently, raw float32 grayscale images can be opened in imagej as "32-bit Real". However, there is no option to load float images with multiple channels. This would be a great addition.

[2018-08-13 13:55] imagejan commented on #208
There is, take e.g. this macro:

[code]

which will open a 3-channel, 32-bit per channel image.

Do you have a specific *file format* in mind which you try to open?

[2018-08-13 14:25] imagejan commented on #208
*File > New > Hyperstack...*

If you have usage questions, I warmly recommend asking on https://forum.image.sc

[2018-08-13 15:06] rggjan commented on #208
Thanks @imagejan

However, I don't want to create a new Hyperstack, I want to open an existing image file on disk. Which I think is impossible. Which is why I filed an enhancement request here...

Or did I miss anything?

[2018-08-13 15:15] imagejan commented on #208
Ah, ok. That's why I was asking about the file format. Can you provide an example file? Maybe *File > Import > Raw...* helps here?

In any case, this is not about lacking support for the 32-bit-per-channel type. It's about how to get your data into ImageJ in the right format, and thus belong more likely to either `imagej1` or `bio-formats`, `scifio`, `imglib2`. I think it would still be better to

[2018-08-14 12:20] shalinshah1993 opened #210 "Cannot export uncompressed avi file using save as > avi (compression: None)"
When I try to export an import `lif` file as an uncompressed `avi` video file, imagej automatically downgrades the 16-bit video to 8-bit. Any workarounds or known solutions? In particular, I think this is the plugin responsible for error - https://imagej.nih.gov/ij/plugins/avi.html

[2018-08-14 12:35] imagejan commented on #210
This issue belongs into [`imagej1`](https://github.com/imagej/imagej1), the `AVI_Writer` plugin source is here:

https://github.com/imagej/imagej1/blob/master/ij/plugin/filter/AVI_Writer.java#L183

In that linked line, there's also a comment mentioning that all grayscale image types are always written as 8-bit.
You could try using *Plugins > Bio-Formats > Bio-Formats Exporter* instead.

[2018-08-14 12:45] shalinshah1993 commented on #210
Thanks for the prompt response. I tried _Plugins > Bio-Formats > Export As > AVI file_. The error I get is uint16 is not supported by this type of format.

[2018-08-14 14:48] ctrueden commented on #210
I didn't think the AVI file format supported 16-bit integer data. Does it?

[2018-08-14 19:53] shalinshah1993 commented on #210
Yeah, I just did some research. It seems that AVI encoding doesn't support 16-bit. It is not a imagej or plugin bug. Thanks for the help!

[2018-08-14 20:02] #210 closed

[2018-08-16 08:40] rggjan commented on #208
Import > Raw only supports "32-bit Real" which is a single channel float image, as mentioned (probably not that clearly ;) in the first comment by me. It doesn't support rg, rgb or rgba images.

But sure, I'll file a bug report somewhere else. Maybe you can give me a pointer as to what of the many repositories is responsible for the UI dialog of "File -> Import -> Raw"?

[2018-08-16 09:36] imagejan commented on #208
https://github.com/imagej/ImageJA/blob/c112f7195005814c14092b98bac1aab2c334e95c/src/main/java/ij/plugin/Raw.java

I got this using the [search bar](https://imagej.net/2017-12-29_-_ImageJ2_and_Fiji_updated_-_now_with_search_bar!), typing "Raw..." and then pressing the *Source* button.

For the `ImageJA` repository, it's important to know that it is automatically synced from the [`imagej1`](https://

[2018-08-17 08:40] rggjan commented on #208
Awesome, thanks a lot @imagejan for your help! I contacted Wayne directly, closing this request then...

[2018-08-17 08:40] #208 closed

[2018-08-24 19:13] ctrueden commented on #160
@Claus1 Sorry that replying to this fell through the cracks for me.

From your list above, what is missing is the ImageJ Maven repository! https://maven.imagej.net/

A lot of the core ImageJ libraries, including `net.imagej:imagej`, are located in this repository. You need that repository in your `pom.xml` or similar build file for whatever build system you are using.

If you still need assistance

[2018-08-24 19:19] ctrueden commented on #193
Thanks for your report, @oweay, and very sorry for the long delay in reply.

Why is a dedicated menu item necessary? Is File > Export > Image... not enough?

That is an ImageJ1 command, so would require changes to ImageJ1. Or (more fragile) some hackery in the [ImageJ Legacy](http://imagej.net/ImageJ_Legacy) component to override how IJ1 normally works. I'd prefer to leave the IJ1 functionality al

[2018-08-24 19:28] oeway commented on #193
Hi, Thanks for your reply.

It's actually a bit confusing to me about the difference with "Save as" and "Export". Since most of the file formats have an entry in the "Save as" entry, and for GIF format, there are even two (Gif and Animated Gif), I think it's logical to place "Animated png" together with "Animated Gif".

[2018-08-26 07:51] Claus1 commented on #160
@ctrueden I avoided the issue by making jars from Fuji sources.

[2018-08-27 04:32] dczomby opened #211 "How to fix read and write excel"
Hello there,
i had an issue when i try saving my results by using read and write excel, it always show me an Exception window, and Rename me after writing is done.xlsx never exist anymore. I mean i cant save my measure results into excel. Is there any kind of methods that can fix this macro? or copy manually is the best option?
Thanks

p.s.s i'm sorry for my bad english

[code]

[code]

[2018-08-27 08:44] imagejan commented on #211
`Read_and_Write_Excel` is an external plugin, so this issue likely belongs here: https://github.com/antinos/Results_To_Excel/issues

@dczomby you can save `xls` files directly from the results table in ImageJ, via *File > Save As...*.
Is there any specific functionality missing why you'd use the other plugin?

[2018-08-28 21:05] dczomby commented on #211
@imagejan well, i didn't know that such a method can be used, because when i tried to save my results the extension files had `.csv` code and when i open it by using excel 2016, it make all of my results into single row, like label area mean etc. then the next row below it show my measurements.
that's why i intended to keep in touch with this plugin.

Sorry for my late answer,
P.S so we need to de

[2018-09-03 09:01] odinsbane opened #212 "Starting ImageJ from a java program leaves ImagePlus detached."
I have some programs that I run, and they start imagej while running.  For example.

    ImageJ.main(new String[] {});
    Path path = Paths.get(IJ.getFilePath("select segmentation to label"));
    ImagePlus plus = new ImagePlus(path.toAbsolutePath().toString());
    plus.show();

If I run this once, everything works as expected. If I run this again while the first imagej window is still visible,

[2018-09-03 09:27] imagejan commented on #212
It seems you're using [`ij.ImageJ`](http://javadoc.scijava.org/ImageJ1/ij/ImageJ.html) (not [`net.imagej.ImageJ`](http://javadoc.scijava.org/ImageJ/index.html?net/imagej/ImageJ.html)) in your code snippet, so this issue rather belongs to [`imagej1`](https://github.com/imagej/imagej1/issues).

Why do you need to call `ImageJ.main` at all?

[2018-09-03 09:30] odinsbane commented on #212
True, this should probably be an imagej1 issue.

I don't always like to start my programs from imagej, especially when I am developing them. But I like to have imagej running so I can do things like save and adjust contrast. Which I cannot do with just an ImagePlus window.

[2018-09-03 11:01] imagejan commented on #212
I recommend using a `main` method in your plugin then, modeled after the one in [`imagej/example-legacy-plugin`](https://github.com/imagej/example-legacy-plugin):

https://github.com/imagej/example-legacy-plugin/blob/6d0eb4b7e3a289acc580a0da72e21821c624ef14/src/main/java/com/mycompany/imagej/Process_Pixels.java#L163-L187

[2018-09-05 01:06] okdzhimiev opened #213 "Incorrect displaying multi-page TIFF with tags 50838 & 50839 in each IFD"
I have a python script (using Pillow) generating a multi-page TIFF. Pillow duplicates IFDs for each page so - 50838 and 50839 present in each IFD. When opening with ImageJ this results in a page 'shifting' like in [multipage_test.tiff](https://community.elphel.com/files/ijtiff/multipage_test.tiff).

When generating multipage TIFF using ImageJ code - it puts 50838 and 50839 only in the first IFD.

[2018-09-05 06:58] imagejan commented on #213
The file loads correctly (i.e. without shift) when opening it with **SCIFIO** (via *File > Import > Image...* or when SCIFIO is activated in *Edit > Options > ImageJ2...*) or with **Bio-Formats** (using *Plugins > Bio-Formats > Bio-Formats Importer*), so this is most likely a bug in [`imagej1`](https://github.com/imagej/imagej1).

@rasband any comments?

[2018-09-05 17:04] okdzhimiev commented on #213
Thanks the quick response.

I have tried the way you described - the image is displayed correctly but it does not decode&display stack labels recorded in 50839. Like if opened with:
- ImageJ1 (1.52e) - it reads: "1/5 (diagm-pair);"
- ImageJ2 (2.0.0-rc-68?) - "1/5 (1);"

Note 1: if put something meaningless in 50839 - the file loads correctly even with IJ1 1.52e.
Note 2: ImageJ2 does not decode lab

[2018-09-05 17:59] rasband commented on #213
The file claims to be created by ImageJ (the image description starts with "ImageJ=") but it is not in the format of a TIFF stack created by ImageJ. The IFDs are between the images instead of at the end of the file. The ImageJ TIFF reader assumes the images are contiguous in TIFF stacks created by ImageJ.  I could fix this problem if there was a way to determine that the file was not created by Im

[2018-09-05 18:37] okdzhimiev commented on #213
IFD[0] is in the beginning of the file, and IFD[1:] are stacked in the end of the file and never read, correct? If yes, then I'll try to modify my python script.

[2018-09-05 18:45] rasband commented on #213
"IFD[0] is in the beginning of the file, and IFD[1:] are stacked in the end of the file and never read, correct?"

That is correct.

[2018-09-06 00:03] okdzhimiev commented on #213
Alright, I was able to generate a correct tiff stack using **tifffile.py**.
Thanks for the help.

[2018-09-06 00:03] #213 closed

[2018-10-07 13:55] wltjr commented on #162
The real problem with Gentoo Java and has been for years. People do not want to get out of others way who code in and actually use Java on Gentoo. All the excuses about a small team etc. They were not receptive to other ways of doing things etc. The result is [my massive Java overlay](https://github.com/Obsidian-StudiosInc/os-xtoo/) where most things are updated, kept updated, etc. This is what a

[2018-10-11 19:16] ctrueden commented on #67
More than four years later... it's release version coupling all around. If anyone still disagrees that release version coupling is the way to go, or finds the imagej.net materials about it insufficient, we can always write more on the wiki about it. But I'm closing this issue.

[2018-10-11 19:16] #67 closed

[2018-10-11 19:19] ctrueden commented on #80
https://imagej.net/Development, especially https://imagej.net/Architecture and https://imagej.net/CI and https://imagej.net/Releases, cover most of the bases.

[2018-10-11 19:19] #80 closed

[2018-10-12 22:03] #204 closed

[2018-10-12 22:04] ctrueden commented on #204
@slokhorst I finally merged @stelfrich's PR. Did not test, though. Please try it on the newest master branch, and reopen this issue if it's still a problem.

[2018-10-12 22:18] ctrueden commented on #212
@odinsbane From the exchange above, I take it you solved your issue? Therefore I'm closing this issue. If I am incorrect and there is still a problem, please feel free to reopen with details.

[2018-10-12 22:18] #212 closed

[2018-10-12 22:21] ctrueden commented on #206
@hyungsongnam Thanks for the report! And sorry for the delay in reply. Interesting observation. It seems that none of ImageJ's shortcuts work as expected from the Channels window. For example, pressing ENTER does not raise the main window, pressing Shift+B (or Ctrl+Shift+B) does not open Blobs, and so forth. So this problem is more general than just the search bar.

@rasband Any idea why the Chann

[2018-10-13 03:56] rasband commented on #206
The latest ImageJ daily build (1.52h37) adds key listeners to all the components of the "Channels" Dialog, which appears to fix this problem. View the source code changes at https://github.com/imagej/imagej1/commit/2c43bef4d5fc4521d5aecbe4f3b8f5282f4e761a.

[2018-10-13 03:57] #206 closed

[2018-10-15 15:37] akidee opened #215 "Wrong data for TIFF images"
Example:

	ImagePlus img = new ImagePlus(tiffFile);
	L.i(img.getWidth()+" x "+img.getHeight());
	for (int i = 500; i < 600; i++) {
		int[] px = img.getPixel(i, i);
		out.println(i+": "+Arrays.toString(px));
	}

Dimensions are always correct, data is correct for other image formats, but for TIFFs (here, 16 bit uncompressed) only the first channel shows values > 0, which is incorrect:

	6000 x 4000

[2018-10-15 16:10] ctrueden commented on #215
Firstly, please be aware that this repository is for [ImageJ2](https://imagej.net/ImageJ2). You are using the [ImageJ1](https://imagej.net/ImageJ1) API, so this issue would fit best at https://github.com/imagej/imagej1. It is not a big deal—we do not have to move it—but I just want to make sure you are aware that there are two different APIs, so that the following information makes more sense.

Th

[2018-10-16 02:49] akidee commented on #215
Thanks for the hint. I consider posting it there later.

Now I have a problem with the dependency in Gradle on `./gradlew build`:

2.0.0-rc-1 will fail, too.

[2018-10-19 18:58] racox opened #216 "Adiposoft not recording manual entries to Excel"
Hello,
I have used the Adiposoft plugin before without issue but this time, when I manually add, delete, separate cells and then select end to save the file, the saved Excel file only shows the measurements from the automated detection and not the manual changes made after. I would appreciate any help since I lost a week's worth of work and for some reason the software no longer identifies half th

[2018-10-19 19:06] ctrueden commented on #216
Thanks for the report, @racox, and sorry to hear that you lost work. This issue tracker is for core ImageJ issues, as opposed to plugins. Since your issue issue is with the Adiposoft plugin, please post on the [Image.sc Forum](https://forum.image.sc/), tagged with `imagej` and `adiposoft`. There is a friendly community there that will try to help you!

[2018-10-19 19:06] #216 closed

[2018-10-20 21:23] acardona opened #217 "The new command finder built into the status bar is somewhat broken"
If I write "script" and push return it launches the first listed item in the *unfocused* window that pop up under the text field.

The old "Find Commands..." is still there, under "Plugins - Utilities". Typing "script" there lists many more entries than in the new system.

What was the rationale for setting the new find commands system as the default for the key binding "L", when it is so differen

[2018-10-21 03:11] ctrueden commented on #217
If the fact that the results window is unfocused bothers you, you can check the "Embed search results in main window" option to make the search results appear as part of the main window. The downside is that it will then be width-limited by the current width of the main window.

I looked into this. The entries beneath the _Help > Examples_ submenu are not being indexed by the search bar, because I

[2018-10-21 14:15] acardona commented on #217
Hi Curtis,

I didn't expect less than a lot of pushback on my comments. I understand you and others have invested into the new command finder and prefer it. I don't. I understand I am not maintaining Fiji/ImageJ and therefore it's up to you to call the shots. Fine with me. I will still report the brokenness. I disagree that the new command finder is more

On the brokenness, thanks for filing the o

[2018-10-21 15:03] ctrueden commented on #217
You have written a lot of text but there are few clearly articulated nor agreed upon technical actions to be taken here. Imagine I were to file an issue in the TrakEM2 repository entitled "TrakEM2 sucks" with a litany of complaints. It would be a terribly structured and unhelpful issue, which should be swiftly closed in favor of specific technically-oriented concerns that can be realistically addr

[2018-10-21 15:03] #217 closed

[2018-10-22 12:39] frauzufall commented on #217
Hey, another dev here who was involved in building the search bar. Writing essays like this will not motivate developers (at least not me) to spend time addressing your concerns. Thanks @ctrueden for answering in detail anyways. As he said, the forum might be a better place to discuss general strategies.

[2018-10-22 17:02] racox commented on #216
Ok, thank you Curtis. I posted on the other site.

Best,
Aaron

On Oct 19, 2018, at 2:06 PM, Curtis Rueden <notifications@github.com<mailto:notifications@github.com>> wrote:

***CAUTION:*** This email is not from a BCM Source. Only click links or open attachments you know are safe.
________________________________

Thanks for the report, @racox<https://urldefense.proofpoint.com/v2/url?u=https-3A__

[2018-10-22 17:31] ctrueden commented on #216
Great. For those who come across this issue later, the relevant thread is [here](https://forum.image.sc/t/adiposoft-not-recording-manual-measurements-to-excel/20375).

[2018-12-13 16:05] Borda opened #219 "[modern mode] fail open an image after update"
Hello,
I just made an update with the internal update manager and since then time I cannot open an image and receive following error message:

[code]
ImageJ 2.0.0-rc-69/.52i
Java 1.8.0_172 [amb64]

[2018-12-13 16:07] Borda opened #220 "[modern mode] no was back"
I have switched to modern mode but there is no more an option to move back to legacy mode...
ImageJ 2.0.0-rc-69/.52i
Java 1.8.0_172 [amb64]
![fiji-mm](https://user-images.githubusercontent.com/6035284/49951129-823abf00-fef9-11e8-8058-f008dfabadb2.png)

[2018-12-13 16:09] Borda opened #221 "[modern mode] all tools just rectangle"
I was wondering how to utilize any other tool except rectangle because with selecting any tool like ellipse, polygon, point, etc I got always the only rectangle...
ImageJ 2.0.0-rc-69/.52i
Java 1.8.0_172 [amb64]
![fiji-ellipse](https://user-images.githubusercontent.com/6035284/49951233-c62dc400-fef9-11e8-9722-0c6c25acecbe.png)